@import "../../../../styles/variables.scss";

:host {
  display: block;
  padding-top: 3.5rem;
  @media (min-width: 600px) {
    padding-left: $main-padding-left-desktop;
  }
}

.mat-list-base {
  margin-top: 1rem;
}

.badge-list {
  margin-left: 1rem;
  // margin-left: 3.5rem;
  margin-bottom: 2rem;
}
