<app-page-actions>
  Device models
  <button type="button" aria-label="Add user" mat-icon-button>
    <mat-icon svgIcon="plusBold" aria-hidden="true"></mat-icon></button
></app-page-actions>
<mat-form-field>
  <mat-label>Type</mat-label>
  <select matNativeControl>
    <option value="all">All</option>
    <option value="luminaire">Luminaire</option>
    <option value="lc">Luminaire controller</option>
    <option value="sc">Segment controller</option>
  </select>
</mat-form-field>
<mat-action-list>
  <button *ngFor="let model of models" (click)="openDialog()" mat-list-item>
    <div matLine>{{ model.name }}</div>
    <div matLine class="text-secondary">{{ model.type }}</div>
  </button>
</mat-action-list>
