<mat-selection-list role="list" [multiple]="false">
  <mat-list-option role="listitem">Create group</mat-list-option>
  <mat-list-option role="listitem">
    <div matLine>Super administrator</div>
    <span matLine>user</span>
  </mat-list-option>
  <mat-list-option role="listitem">
    <div matLine>Regional administrator</div>
    <span matLine>User</span>
  </mat-list-option>
  <mat-list-option role="listitem">
    <div matLine>Organization administrator</div>
    <span matLine>Organization</span>
  </mat-list-option>
  <mat-list-option role="listitem">
    <div matLine>City administrator</div>
    <span matLine>Organization</span>
  </mat-list-option>
  <mat-list-option role="listitem">
    <div matLine>Fitter</div>
    <span matLine>Organization</span>
  </mat-list-option>
</mat-selection-list>
