<app-page-actions>
  Groups
  <button type="button" aria-label="Add group" mat-icon-button>
    <mat-icon svgIcon="plusBold" aria-hidden="true"></mat-icon>
  </button>
</app-page-actions>

<mat-selection-list role="list" [multiple]="false">
  <mat-list-option role="listitem">
    <div matLine>Super administrator</div>
    <span matLine>User</span>
  </mat-list-option>
  <mat-list-option role="listitem">
    <div matLine>Regional administrator</div>
    <span matLine>User</span>
  </mat-list-option>
  <mat-list-option role="listitem">
    <div matLine>Organization administrator</div>
    <span matLine>Organisation</span>
  </mat-list-option>
  <mat-list-option role="listitem">
    <div matLine>City administrator</div>
    <span matLine>Organisation</span>
  </mat-list-option>
  <mat-list-option role="listitem">
    <div matLine>Fitter</div>
    <span matLine>Organisation</span>
  </mat-list-option>
</mat-selection-list>
