<!-- TODO: Add selected group summary: profile, ... -->

<section>
  <h2>Location</h2>

  <div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Latitude</mat-label>
          <input matInput [value]="city?.centerLat | number: '1.6-6'" />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label>Longitude</mat-label>
          <input matInput [value]="city?.centerLng | number: '1.6-6'" />
        </mat-form-field>
      </div>
    </div>

    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput [value]="city?.address" />
      <button
        mat-icon-button
        matSuffix
        matTooltip="Show on map"
        aria-label="Button that shows selected location on a map"
      >
        <mat-icon svgIcon="locationRegular" aria-hidden="true"></mat-icon>
      </button>
    </mat-form-field>

    <!-- Lamp: Nearest group (distance < N) is set as a default -->
    <!-- SC: If SC can cover several groups, show not the specific group but the list of covered groups -->
    <mat-form-field>
      <mat-label>Group</mat-label>
      <mat-select [(value)]="group">
        <mat-option value="none"> None </mat-option>
        <mat-option *ngFor="let g of nearbyGroups" [value]="g.id">
          {{ g.name }}
        </mat-option>
        <mat-option value="new"> Create new group </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</section>
