<!-- TODO: Event with task -->
<!-- TODO: Event without task -->

<device-alerts [deviceId]="device.id"></device-alerts>
<device-tasks [deviceId]="device.id"></device-tasks>

<mat-selection-list role="list" [multiple]="false">
  <mat-list-option
    class="list-item-icon-right list-item-with-btn"
    role="listitem"
    [routerLink]="'../../../profiles/' + [device.profile.id]"
  >
    <div matLine>{{ profile.name }}</div>
    <span matLine class="text-secondary">
      <ng-container
        *ngIf="device.profile.source !== 'itself'; else selfAssigned"
      >
        Profile inherited from
        {{ device.profile.source == "sc" ? "segment controller" : "group" }}
      </ng-container>

      <!-- ??? Use cases for individual profiles. HOW NORMAL? -->
      <ng-template #selfAssigned
        ><span style="color: red">Individual profile</span></ng-template
      >
    </span>
    <div
      matListIcon
      matTooltip="Overrides are disabled for this group"
      [matTooltipDisabled]="!group.profileLocked"
    >
      <button
        (click)="onProfileSelectClick($event)"
        [disabled]="group.profileLocked"
        mat-icon-button
        [matMenuTriggerFor]="profileMenu"
      >
        <mat-icon svgIcon="editRegular"></mat-icon>
      </button>
    </div>
  </mat-list-option>
  <mat-divider></mat-divider>
</mat-selection-list>

<mat-menu #profileMenu="matMenu">
  <button
    [disabled]="device.profile.id == profile.id"
    mat-menu-item
    *ngFor="let profile of profiles"
  >
    {{ profile.name }}
  </button>
</mat-menu>

<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>Orientation</mat-panel-title>
      <mat-panel-description> {{ device.orientation }}° </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-slider
      [value]="device.orientation"
      min="0"
      max="360"
      aria-label="unit(s)"
    ></mat-slider>
  </mat-expansion-panel>
  <mat-divider></mat-divider>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <!-- TODO: On, off, no monitoring? -->
      <mat-panel-title>Surge protector</mat-panel-title>
      <mat-panel-description>None</mat-panel-description>
    </mat-expansion-panel-header>
    ???
  </mat-expansion-panel>
  <mat-divider></mat-divider>
</mat-accordion>
<mat-selection-list role="list" [multiple]="false">
  <mat-list-option role="listitem">
    <mat-icon matListIcon svgIcon="ticketRegular" aria-hidden="true"></mat-icon>
    <div matLine>Create task</div>
  </mat-list-option>
  <mat-list-option role="listitem" (click)="on = !on">
    <mat-icon
      matListIcon
      [svgIcon]="on ? 'cancelCircleRegular' : 'checkCircleRegular'"
      aria-hidden="true"
    ></mat-icon>
    <div matLine>Turn {{ on ? "off" : "on" }}</div>
  </mat-list-option>
  <mat-list-option role="listitem">
    <mat-icon matListIcon svgIcon="moveRegular" aria-hidden="true"></mat-icon>
    <div matLine>Move</div>
  </mat-list-option>
  <mat-list-option disabled role="listitem">
    <mat-icon matListIcon svgIcon="firmwareRegular"></mat-icon>
    <div matLine>Update firmware</div>
    <span class="text-secondary" matLine>Up to date — 0.1.3.</span>
  </mat-list-option>
  <mat-list-option role="listitem">
    <mat-icon matListIcon svgIcon="deleteRegular"></mat-icon>
    <div matLine>Delete</div>
  </mat-list-option>
</mat-selection-list>
