<mat-card class="mat-elevation-z0">
  <mat-card-header>
    <mat-card-title>Citintelly</mat-card-title>
    <mat-card-subtitle>
      Street lighting control system
    </mat-card-subtitle>
  </mat-card-header>
  <form>
    <mat-form-field dense>
      <mat-label>Email</mat-label>
      <input autofocus type="email" matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput />
    </mat-form-field>
    <button
      [disabled]="loading"
      (click)="login()"
      mat-flat-button
      color="accent"
    >
      Login
    </button>
  </form>
</mat-card>
