<!-- <button (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button> -->

<mat-card class="mat-elevation-z0">
  <form>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input autofocus type="email" matInput />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput />
    </mat-form-field>
    <button
      [disabled]="loading"
      (click)="login()"
      mat-flat-button
      color="primary"
    >
      Login
    </button>
  </form>
</mat-card>
