<mat-list-option
  *ngIf="device"
  class="entry"
  [routerLink]="'devices/device/' + [device.id]"
>
  <mat-icon svgIcon="userFill" aria-hidden="true" matListAvatar></mat-icon>
  <div matLine>
    <h3>
      {{ user.name }} &bull;
      {{ device.name }}
    </h3>
    <!-- <small class="text-secondary">{{
      event.created | dfnsFormatDistance: now
    }}</small> -->
  </div>
  <p matLine class="text-secondary">
    Changed {{ event.property }} to {{ event.to }} &bull;
    {{ event.created | dfnsFormatRelative: now }}
  </p>
</mat-list-option>
