<!-- TODO: Extract common with dynamic schedule parts into separate component -->

<mat-expansion-panel [expanded]="expanded">
  <mat-expansion-panel-header>
    <mat-panel-title class="mat-subheading-2">
      <strong>{{ schedule.brightness | percent }}</strong
      >&nbsp;
      <ng-container *ngFor="let group of timeGroups">
        {{ group | conversationalTimeGroup: (first && !last ? "rest" : "first") }}
      </ng-container>
      <!-- weekdays from 6:30 to 23:00, on weekends from 8:00 to 22:00. -->
    </mat-panel-title>
  </mat-expansion-panel-header>
  <!-- TODO: Add hint item if schedule doesn't cover 24/7.  -->
  <!-- Default profile will be applied to the time periods not covered by the schedule. -->
  <!-- TODO: Describe prioritisation? -->
  <mat-slider
    [value]="schedule.brightness"
    (input)="setBrightness($event.value)"
    [displayWith]="percent"
    thumbLabel
    aria-label="brightness"
    min="0"
    max="1"
    step="0.05"
  ></mat-slider>
  <div class="schedule-settings">
    <form>
      <div>
        <span>Active</span>
        <mat-form-field class="no-label no-hint input-auto-width time">
          <mat-select
            [value]="toOption(schedule.time.start)"
            (selectionChange)="setTime('start', $event.value)"
          >
            <mat-option
              *ngFor="let option of timeOptions"
              [value]="option.value"
            >
              {{ option.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <span class="text-secondary">&mdash;</span>
        <mat-form-field class="no-label no-hint input-auto-width time">
          <mat-select
            [value]="toOption(schedule.time.end)"
            (selectionChange)="setTime('end', $event.value)"
          >
            <mat-option
              *ngFor="let option of timeOptions"
              [value]="option.value"
            >
              {{ option.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <ng-container *ngFor="let day of week; let i = index">
        <div>
          <mat-checkbox
            [checked]="schedule.time.week[i].enabled"
            (change)="setDay(i, $event.checked)"
            >{{
            week[i]
          }}</mat-checkbox>
          <mat-form-field class="no-label no-hint input-auto-width time">
            <mat-select
              [disabled]="!schedule.time.week[i].enabled"
              [placeholder]="
                schedule.time.week[i].enabled
                  ? toOption(schedule.time.start)
                  : null
              "
              [value]="
                schedule.time.week[i].start
                  ? toOption(schedule.time.week[i].start)
                  : null
              "
              (selectionChange)="setDayTime(i, 'start', $event.value)"
            >
              <mat-option
                *ngFor="let option of timeOptions"
                [value]="option.value"
              >
                {{ option.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <span class="text-secondary">&mdash;</span>
          <mat-form-field class="no-label no-hint input-auto-width time">
            <mat-select
              [disabled]="!schedule.time.week[i].enabled"
              [placeholder]="
                schedule.time.week[i].enabled
                  ? toOption(schedule.time.end)
                  : null
              "
              [value]="
                schedule.time.week[i].end
                  ? toOption(schedule.time.week[i].end)
                  : null
              "
              (selectionChange)="setDayTime(i, 'end', $event.value)"
            >
              <mat-option
                *ngFor="let option of timeOptions"
                [value]="option.value"
              >
                {{ option.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-container>
    </form>
    <div>
      <button
        [disabled]="first"
        (click)="move.emit(-1)"
        class="text-secondary"
        aria-label="Move up"
        mat-icon-button
      >
        <mat-icon svgIcon="arrowThinUpRegular" aria-hidden="true"></mat-icon>
      </button>
      <button
        [disabled]="last"
        (click)="move.emit(1)"
        class="text-secondary"
        aria-label="Move down"
        mat-icon-button
      >
        <mat-icon svgIcon="arrowThinDownRegular" aria-hidden="true"></mat-icon>
      </button>
      <button
        [disabled]="!removable"
        (click)="remove.emit()"
        class="text-secondary"
        aria-label="Delete"
        mat-icon-button
      >
        <mat-icon svgIcon="trashRegular" aria-hidden="true"></mat-icon>
      </button>
    </div>
  </div>
</mat-expansion-panel>
