<!-- TODO: Loading: devices, group, profile -->
<!-- TODO: Error handling -->

<device-filters></device-filters>

<mat-selection-list role="list" [multiple]="false">
  <h2 matSubheader>Profile</h2>
  <mat-list-option
    *ngIf="profile$ | async as profile"
    class="list-item-icon-right list-item-with-btn"
    role="listitem"
    [routerLink]="'../../../profiles/' + [profile.id]"
  >
    <div matLine>{{ profile.name }}</div>
    <span matLine>{{ profile.description }}</span>
    <div matListIcon>
      <button
        (click)="onProfileSelectClick($event)"
        mat-icon-button
        [matMenuTriggerFor]="profileMenu"
      >
        <mat-icon svgIcon="editRegular"></mat-icon>
      </button>
    </div>
  </mat-list-option>
</mat-selection-list>
<mat-menu #profileMenu="matMenu">
  <button
    [disabled]="profile.id === (profile$ | async)?.id"
    *ngFor="let profile of profiles"
    mat-menu-item
  >
    {{ profile.name }}
  </button>
</mat-menu>
<mat-divider></mat-divider>
<div class="list-subheader mat-body-2 text-secondary">
  Lamps
  <div>
    <ng-container *ngIf="isEditable && selectedDevices.length">
      <button type="button" mat-button>Change status</button>
      <button type="button" mat-button>Update firmware</button>
      <button type="button" mat-button>Move</button>
    </ng-container>
    <button
      type="button"
      aria-label="Toggle edit mode"
      (click)="isEditable = !isEditable"
      mat-button
    >
      {{ isEditable ? "Done" : "Edit" }}
    </button>
  </div>
</div>

<!-- https://material.angular.io/components/select/overview#error-cannot-change-multiple-mode-of-select-after-initialization -->
<mat-selection-list *ngIf="!isEditable" role="list" [multiple]="false">
  <mat-list-option
    [routerLink]="'../../device/' + [device.id]"
    role="listitem"
    *ngFor="let device of devices$ | async"
  >
    <div matLine>{{ device.name }}</div>
    <span matLine
      >SC11, 1 luminaire{{ device.surgeProtector ? ", surge protector" : null
      }}{{ device.sensors ? ", " + device.sensors.join(", ") : null }}
      <!-- <ng-container *ngFor="let sensor of device.sensors">
        {{ sensor }}</ng-container
      > -->
    </span>
  </mat-list-option>
  <mat-list-option role="listitem">
    <div class="text-secondary" matLine>Add</div>
  </mat-list-option>
</mat-selection-list>
<mat-selection-list
  [(ngModel)]="selectedDevices"
  *ngIf="isEditable"
  role="list"
>
  <mat-list-option role="listitem" *ngFor="let device of devices$ | async">
    <div matLine>{{ device.name }}</div>
    <span matLine
      >SC11, 1 luminaire{{ device.surgeProtector ? ", surge protector" : null
      }}{{ device.sensors ? ", " + device.sensors.join(", ") : null }}
    </span>
  </mat-list-option>
</mat-selection-list>

<mat-selection-list role="list" [multiple]="false">
  <h2 matSubheader>Segment controllers</h2>
  <mat-list-option>
    <div matLine>SC11</div>
    <span matLine class="text-secondary text-caps"
      >SC3M24UL8-868-44, 355855056225996,
      TB1caf0d2cb6cb4db88087730cd2db0fb1</span
    >
  </mat-list-option>
  <mat-list-option>
    <div matLine>SC6</div>
    <span matLine class="text-secondary text-caps"
      >SC3M24UL8-868-44, 355855056091604,
      TBe43d2685265f49a796b541de06c6205f</span
    >
  </mat-list-option>
</mat-selection-list>
