<!-- TODO: Loading: devices, group, profile -->

<app-page-actions>
  <div class="page-title">
    <span>Daugavpils → </span>{{ (group$ | async)?.name }}
  </div>

  <!-- <div>
    <button class="btn-link mat-body-2" [matMenuTriggerFor]="menu">
      Daugavpils
    </button>
    <mat-menu #menu="matMenu">
      <button routerLink="../" mat-menu-item>Daugavpils</button>
      <button disabled mat-menu-item>Valka</button>
    </mat-menu>
    → <span>Group name</span>
  </div> -->
</app-page-actions>

<mat-chip-list aria-label="Fish selection">
  <mat-chip>Property</mat-chip>
  <mat-chip>Another property</mat-chip>
  <mat-chip color="primary" selected>Primary property</mat-chip>
  <mat-chip color="accent" selected>Accent property</mat-chip>
</mat-chip-list>

<mat-selection-list role="list" [multiple]="false">
  <h2 matSubheader>Profile</h2>
  <mat-list-option
    *ngIf="profile$ | async as profile"
    class="list-item-icon-right"
    role="listitem"
    [routerLink]="'../../profiles/' + [(group$ | async)?.profileId]"
  >
    <div matLine>{{ profile.name }}</div>
    <span matLine>{{ profile.description }}</span>
    <mat-icon
      [matMenuTriggerFor]="profileMenu"
      matListIcon
      svgIcon="editRegular"
    ></mat-icon>
  </mat-list-option>
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item>Profile 1</button>
    <button mat-menu-item>Profile 2</button>
  </mat-menu>
  <h2 matSubheader>Devices</h2>
  <mat-list-option
    [routerLink]="[device.id]"
    role="listitem"
    *ngFor="let device of devices$ | async"
  >
    <div matLine>{{ device.name }}</div>
    <span matLine>1 luminaire, surge protector, motion sensor</span>
  </mat-list-option>
  <mat-list-option role="listitem">
    <div class="text-secondary" matLine>Add</div>
  </mat-list-option>
</mat-selection-list>
