<app-page-actions>
  <div class="page-title"><span>Daugavpils → </span>Group name</div>

  <!-- <div>
    <button class="btn-link mat-body-2" [matMenuTriggerFor]="menu">
      Daugavpils
    </button>
    <mat-menu #menu="matMenu">
      <button routerLink="../" mat-menu-item>Daugavpils</button>
      <button disabled mat-menu-item>Valka</button>
    </mat-menu>
    → <span>Group name</span>
  </div> -->
</app-page-actions>

<mat-chip-list aria-label="Fish selection">
  <mat-chip>Property</mat-chip>
  <mat-chip>Another property</mat-chip>
  <mat-chip color="primary" selected>Primary property</mat-chip>
  <mat-chip color="accent" selected>Accent property</mat-chip>
</mat-chip-list>

<mat-selection-list role="list" [multiple]="false">
  <h2 matSubheader>Profile</h2>
  <mat-list-option role="listitem">
    <div matLine>Default</div>
    <span matLine>Profile description</span>
  </mat-list-option>
  <h2 matSubheader>Devices</h2>
  <mat-list-option
    [routerLink]="[device.id]"
    role="listitem"
    *ngFor="let device of devices$ | async"
  >
    <div matLine>{{ device.name }}</div>
    <span matLine>1 luminaire, surge protector, motion sensor</span>
  </mat-list-option>
  <mat-list-option role="listitem">
    <div class="text-secondary" matLine>Add</div>
  </mat-list-option>
</mat-selection-list>
