<!-- TODO: Status chip is clickable and shows status options -->

<h2 mat-dialog-title>{{ data.task.title }}</h2>
<mat-dialog-content>
  <mat-chip-list aria-label="Status and priority">
    <mat-chip>New</mat-chip>
    <mat-chip>Low priority</mat-chip>
    <!-- <mat-chip>
      <mat-icon svgIcon="userRegular"></mat-icon>
      Unassigned
    </mat-chip> -->
  </mat-chip-list>

  <mat-card>
    <mat-card-header>
      <mat-card-title>LC-01-03-D02</mat-card-title>
      <mat-card-subtitle> Model KN-3, SN000786345 </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>Details</button>
      <button mat-button>Show on map</button>
    </mat-card-actions>
  </mat-card>
</mat-dialog-content>

<mat-selection-list [multiple]="false">
  <h3 matSubheader>Event</h3>
  <mat-list-option class="list-item-icon-right">
    <mat-icon svgIcon="chevronRightRegular" matListIcon></mat-icon>
    <h4 matLine>Lamp failure</h4>
    <p matLine>12:36</p>
  </mat-list-option>
</mat-selection-list>

<mat-list>
  <h3 matSubheader>Comments</h3>
  <mat-list-item>
    <h4 matLine>Alec Whitten</h4>
    <p matLine>Haha, no</p>
  </mat-list-item>
  <mat-list-item>
    <h4 matLine>Kari Rasmussen</h4>
    <p matLine>
      We’ll be creating a visualization of population density per US state. As
      the amount of data (state shapes and the density value for each state) is
      not very big, the most convenient and simple way to store and then display
      it is GeoJSON.
    </p>
  </mat-list-item>
</mat-list>

<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true">Close</button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Update status</button> -->
</mat-dialog-actions>
