.mat-card {
  margin: 1rem 0;
  border: 1px solid hsla(0, 0%, 0%, 0.1);
}

.mat-subheader {
  padding-bottom: 0;
}

form.new-comment {
  padding: 1rem 1.5rem 0 1.5rem;
  .mat-form-field {
    width: 100%;
  }
}
