.mat-card {
  margin: 1rem 0;
  border: 1px solid hsla(0, 0%, 0%, 0.1);
}

.mat-subheader {
  padding-bottom: 0;
}

section {
  margin: 1rem 1.5rem;
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  p {
    max-width: 70ch;
  }
}

form#task__new-comment {
  padding: 1rem 1.5rem 0 1.5rem;
}

.mat-form-field {
  width: 100%;
}

.mat-divider {
  margin: 1rem 0;
}
