<!-- TODO: Status chip is clickable and shows status options -->

<h2 mat-dialog-title>{{ data.task.title }}</h2>
<section>
  <mat-chip-list aria-label="Status and priority">
    <mat-chip [matMenuTriggerFor]="statusMenu"
      >{{ data.task.status }}
      <mat-icon svgIcon="dropdownMedium" aria-hidden="true"></mat-icon
    ></mat-chip>
    <mat-chip [matMenuTriggerFor]="priorityMenu"
      >{{ data.task.priority }} priority
      <mat-icon svgIcon="dropdownMedium"></mat-icon
    ></mat-chip>
    <mat-menu #statusMenu="matMenu">
      <button mat-menu-item>New</button>
      <button mat-menu-item>In progress</button>
      <button mat-menu-item>Resolved</button>
      <button mat-menu-item>Closed</button>
      <button mat-menu-item>Rejected</button>
    </mat-menu>
    <mat-menu #priorityMenu="matMenu">
      <button mat-menu-item>Low</button>
      <button mat-menu-item>Normal</button>
      <button mat-menu-item>High</button>
    </mat-menu>
  </mat-chip-list>
</section>
<mat-dialog-content *ngIf="device$ | async as d">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ d.device.name }}</mat-card-title>
      <mat-card-subtitle>
        Model {{ d.device.model }}<ng-container *ngIf="d.group"> &bull; {{ d.group.name }}</ng-container>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button (click)="openDevice(d.device)">Details</button>
      <button mat-button (click)="openDevice(d.device, true)">Show on map</button>
    </mat-card-actions>
  </mat-card>
</mat-dialog-content>

<section>
  <label class="mat-body-2 text-secondary">Assignee</label>
  <autocomplete-user></autocomplete-user>
</section>

<section *ngIf="data.task.description">
  <label class="mat-body-2 text-secondary">Description</label>
  <p>{{ data.task.description }}</p>
</section>

<ng-container *ngIf="event$ | async as event">
  <mat-selection-list [multiple]="false">
    <h3 matSubheader>Event</h3>
    <mat-list-option class="list-item-icon-right">
      <mat-icon
        svgIcon="chevronRightRegular"
        matListIcon
        aria-hidden="true"
      ></mat-icon>
      <h4 matLine>{{ event.title }}</h4>
      <p matLine class="text-secondary">{{ event.created | date: "HH:mm" }}</p>
    </mat-list-option>
  </mat-selection-list>
  <mat-divider></mat-divider>
</ng-container>
<mat-list *ngIf="comments.length > 0">
  <h3 matSubheader>Comments</h3>
  <mat-list-item *ngFor="let comment of comments">
    <h4 matLine>{{ comment.author }}</h4>
    <p matLine>{{ comment.comment }}</p>
  </mat-list-item>
</mat-list>
<form id="task__new-comment">
  <mat-form-field>
    <input matInput placeholder="Write a comment" />
  </mat-form-field>
</form>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true">Close</button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Update status</button> -->
</mat-dialog-actions>
