:host {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 0 0 0 4.5rem;

  & > section {
    padding: 5rem 1.5rem;
  }
}

section#tasks {
  background: hsla(0, 0%, 0%, 0.05);
}

section#activity {
  background: hsla(0, 0%, 0%, 0.1);
}

section#main {
  padding-left: 0rem;
  grid-column: 1;
  & > * + * {
    margin-top: 0.5rem;
  }
  .mat-card-subtitle {
    margin-bottom: 0;
  }
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;

  .mat-card {
    background: hsla(0, 0%, 0%, 0.1);
  }
}

// TODO
#lucidus {
  &:hover {
    // TODO: Normal link
    background: hsla(0, 0%, 0%, 0.05);
    cursor: pointer;
  }

  .mat-card-header-text {
    margin: 0 1rem;
  }
  .mat-card-avatar {
    background-color: hsla(0, 0%, 0%, 0.1);
    text-align: center;
    .mat-icon {
      height: 100%;
    }
  }
  .mat-card-subtitle {
    margin-bottom: 0;
  }
}

// TODO: Move to theme
.mat-card {
  border-radius: 0 !important;
}
