<!-- TODO: Remember selected tab and selected filters -->

<app-page-actions>
  <div class="page-title">{{ city }}</div>
</app-page-actions>

<!-- <mat-card id="lucidus">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon svgIcon="chartBold"></mat-icon>
      </div>
      <mat-card-title>Power consumption</mat-card-title>
      <mat-card-subtitle
        >smartcity.lucidus.lv
        <mat-icon inline class="small" svgIcon="openInNewRegular"></mat-icon
      ></mat-card-subtitle>
    </mat-card-header>
  </mat-card> -->

<!-- <h2 class="text-heading">Stats</h2> -->

<ng-container *ngIf="isHandset; else desktop">
  <app-stats></app-stats>
  <mat-tab-group>
    <mat-tab label="Areas"> <areas></areas> </mat-tab>
    <mat-tab label="Tasks"> <tasks></tasks> </mat-tab>
    <mat-tab label="Activity"> <activity></activity> </mat-tab>
  </mat-tab-group>
</ng-container>
<ng-template #desktop>
  <section id="main">
    <!-- <h2 class="text-heading">Stats</h2> -->
    <app-stats></app-stats>
    <h2 class="text-heading">Areas</h2>
    <areas></areas>
    <!-- Areas/groups status. e.g. traffic  -->
    <!-- Pinned -->

    <!-- <section class="empty">
      <h3>Empty state</h3>
      <p>Do stuff or wait for something to happen.</p>
    </section> -->
  </section>
  <section id="tasks">
    <h2 class="text-heading">Tasks</h2>
    <tasks></tasks>
  </section>
  <section id="activity">
    <h2 class="text-heading">Activity</h2>
    <activity></activity>
  </section>
</ng-template>
