:host {
  display: grid;
  // grid-template-columns: repeat(3, minmax(320px, 1fr));
  grid-template-columns: minmax(40vw, 1fr) minmax(320px, 1fr) minmax(320px, 1fr);

  padding: 0 0 0 4.5rem;
  height: 100%;

  & > app-page-actions {
    display: none;
  }

  & > section {
    height: 100%;
    padding: 5rem 1.5rem 2rem 1.5rem;
    &:last-of-type {
      padding-right: 0;
    }
  }
}

h2 {
  margin-left: 1rem;
  margin-bottom: 0;
}

section#tasks {
  background: hsla(0, 0%, 0%, 0.05);
}

section#activity {
  background: hsla(0, 0%, 0%, 0.1);
}

section#main {
  padding-left: 0rem;
  & > * + * {
    margin-top: 1.5rem;
  }
  .mat-card-subtitle {
    margin-bottom: 0;
  }
}

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14ch, 1fr));
  gap: 0.5rem;
  
  .mat-card {
    background: hsla(0, 0%, 0%, 0.1);
  }
}

// TODO
#lucidus {
  &:hover {
    // TODO: Normal link
    background: hsla(0, 0%, 0%, 0.05);
    cursor: pointer;
  }

  .mat-card-header-text {
    margin: 0 1rem;
  }
  .mat-card-avatar {
    background-color: hsla(0, 0%, 0%, 0.1);
    text-align: center;
    .mat-icon {
      height: 100%;
    }
  }
  .mat-card-subtitle {
    margin-bottom: 0;
  }
}

.empty {
  border: 1px dashed hsla(0, 0%, 0%, 0.1);
}
