<app-page-actions>
  <button mat-button [matMenuTriggerFor]="menu">
    Daugavpils<mat-icon svgIcon="dropdownMedium"></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Daugavpils</button>
    <button mat-menu-item>Valka</button>
  </mat-menu>
</app-page-actions>
<mat-grid-list cols="2">
  <mat-grid-tile
    *ngFor="let card of cards | async"
    [colspan]="card.cols"
    [rowspan]="card.rows"
  >
    <mat-card class="dashboard-card">
      <mat-card-content>
        {{ card.title }}
        <button
          mat-icon-button
          class="more-button"
          [matMenuTriggerFor]="menu"
          aria-label="Toggle menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item>Expand</button>
          <button mat-menu-item>Remove</button>
        </mat-menu>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
