<app-page-actions>
  <!-- <button class="btn-link" [matMenuTriggerFor]="menu">
    Daugavpils<mat-icon svgIcon="dropdownMedium"></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Daugavpils</button>
    <button mat-menu-item>Valka</button>
  </mat-menu> -->
  <div class="page-title">Daugavpils</div>
</app-page-actions>

<section id="main">
  <mat-card id="lucidus" class="mat-elevation-z0">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon svgIcon="chartBold"></mat-icon>
      </div>
      <mat-card-title>Power consumption</mat-card-title>
      <mat-card-subtitle
        >smartcity.lucidus.lv
        <mat-icon inline class="small" svgIcon="openInNewRegular"></mat-icon
      ></mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <section class="stats">
    <mat-card class="mat-elevation-z0">
      <mat-card-header>
        <mat-card-title>61</mat-card-title>
        <mat-card-subtitle>Unregistered</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card class="mat-elevation-z0">
      <mat-card-header>
        <mat-card-title>0</mat-card-title>
        <mat-card-subtitle>Offline</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card class="mat-elevation-z0">
      <mat-card-header>
        <mat-card-title>12</mat-card-title>
        <mat-card-subtitle>Something else</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </section>
  <section class="empty">
    <h3>Empty state</h3>
    <p>Do stuff or wait for something to happen.</p>
  </section>
  <!-- Areas/groups status. e.g. traffic  -->
  <!-- Pinned -->
</section>
<section id="tasks">
  <tasks></tasks>
</section>
<section id="activity">
  <activity></activity>
</section>
