<!-- TODO: Loading -->
<!-- TODO: List settings/sensors conflicts -->

<mat-selection-list
  *ngIf="(groups$ | async)?.length > 0; else empty"
  role="list"
  [multiple]="false"
>
  <mat-list-option
    [routerLink]="'../../devices/group/' + [group.id]"
    class="list-item-icon-right"
    role="listitem"
    *ngFor="let group of groups$ | async"
  >
    <mat-icon
      matListIcon
      svgIcon="chevronRightRegular"
      aria-hidden="true"
    ></mat-icon>
    <div matLine>{{ group.name }}</div>
    <span matLine>16 lamps</span>
  </mat-list-option>
</mat-selection-list>

<ng-template #empty>
  <p class="empty text-secondary">
    So far, this profile is not used anywhere. To assign profile to the area,
    select it in area's configuration.
  </p>
  <button routerLink="../../devices" mat-button>Go to devices</button>
</ng-template>
