<!-- TODO: Loading -->
<!-- TODO: List settings/sensors conflicts -->

<mat-selection-list
  *ngIf="(groups$ | async)?.length > 0; else empty"
  role="list"
  [multiple]="false"
>
  <mat-list-option
    [routerLink]="'../../devices/group/' + [group.id]"
    class="list-item-icon-right"
    role="listitem"
    *ngFor="let group of groups$ | async"
  >
    <mat-icon
      matListIcon
      svgIcon="chevronRightRegular"
      aria-hidden="true"
    ></mat-icon>
    <div matLine>{{ group.name }}</div>
    <span matLine>16 lamps</span>
  </mat-list-option>
</mat-selection-list>

<ng-template #empty>
  <div class="empty">
    <h3>No groups</h3>
    <p>The profile hasn't been applied to anything yet.</p>
  </div>
</ng-template>
