<!-- TODO: Don't show the group if empty? -->
<!-- TODO: Group creation through assignemt?-->

<device-filters></device-filters>

<mat-selection-list *ngIf="groups" role="list" [multiple]="false">
  <ng-container *ngFor="let group of groups">
    <group-list-item [group]="group"></group-list-item>
  </ng-container>
  <!-- <mat-list-option role="listitem">
    <div class="text-secondary" matLine>Unassigned</div>
    <span matLine>78 lamps, 3 segment controllers</span>
  </mat-list-option> -->
</mat-selection-list>
