<!-- TODO: Don't show the group if empty? -->
<!-- TODO: Group creation through assignemt?-->
<!-- TODO: Grouping into districts -->

<mat-chip-list aria-label="Filters">
  <mat-chip>Type</mat-chip>
  <!-- all, lamps, SCs, etc. -->
  <mat-chip>Status</mat-chip>
  <!-- all, online, not responding, offline, new??? -->
  <mat-chip
    ><mat-icon class="small" matListIcon svgIcon="filterBold"></mat-icon>
    Filters</mat-chip
  >
  <!-- model, with active events of specific type,  -->

  <!-- <mat-chip color="primary" selected>Primary property</mat-chip> -->
  <!-- <mat-chip color="accent" selected>Accent property</mat-chip> -->
</mat-chip-list>

<mat-selection-list role="list" [multiple]="false">
  <ng-container *ngFor="let group of groups$ | async">
    <!-- *ngIf="(getDeviceNumber(group.id) | async)?.length > 0" -->
    <mat-list-option [routerLink]="[group.id]" role="listitem">
      <!-- <mat-icon matListIcon svgIcon="chevronRightRegular"></mat-icon> -->
      <div matLine>{{ group.name }}</div>
      <span matLine
        >{{ (getDevices(group.id) | async)?.length }}
        <span class="text-secondary">lamps</span>,
        {{ (getProfile(group.profileId) | async)?.name }}
        <span class="text-secondary">profile</span></span
      >
    </mat-list-option>
  </ng-container>
  <mat-list-option role="listitem">
    <div class="text-secondary" matLine>Unassigned</div>
    <span matLine>78 lamps, 3 segment controllers</span>
  </mat-list-option>
</mat-selection-list>
