<!-- TODO: Don't show the group if empty? -->
<!-- TODO: Group creation through assignemt?-->

<device-filters></device-filters>

<mat-selection-list *ngIf="groups" role="list" [multiple]="false">
  <group-list-item
    *ngFor="let group of groups"
    [group]="group"
  ></group-list-item>
  <mat-list-option role="listitem">
    <div class="text-secondary" matLine>Unassigned</div>
    <span matLine>78 lamps, 3 segment controllers</span>
  </mat-list-option>
  <mat-list-option role="listitem">
    <div class="text-secondary" matLine>All</div>
  </mat-list-option>
</mat-selection-list>
