@import "~@angular/material/table/_table-theme";

:host {
  display: block;
  padding: 5rem 0 5rem 4.5rem;
  height: 100%;
  width: 100%;
}

h2 {
  display: inline;
  margin-right: 0.5rem;
  margin-bottom: 0;
}

mat-panel-title {
  align-items: baseline;
}

table {
  width: 100%;
  background: transparent;
  &:first-of-type {
    margin-bottom: 2rem;
  }
}

.report {
  th,
  td {
    width: 20vmax;
    min-width: 20vmax;
    &:first-child {
      border: none;
    }
  }
}

.mat-button {
  transform: translateX(-1rem);
}

.right {
  float: right;
  margin: 0 1rem;
}

mat-form-field + mat-form-field {
  margin-left: 1rem;
}

mat-divider {
  margin-top: 2rem;
}

td.mat-cell:first-of-type {
  // Overrading default behaviour to work with horizontal table
  padding-left: 0;
  font-weight: 500;
}

th.mat-header-cell:first-of-type {
  padding-left: 1rem;
  padding-right: 0 !important;
}

th.mat-header-cell:last-of-type {
  padding-right: 0 !important;
}

.configuration {
  display: flex;
  justify-content: space-between;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-right: 1rem;
  .stats {
    display: flex;
    flex-wrap: nowrap;
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(14ch, 1fr));
    gap: 0.5rem;

    .mat-card {
      padding-top: 0;
      background: transparent;
      // width: calc(20vmax - 5rem);
    }
  }
}
