h2 {
  margin: 1rem 1rem 0 1rem;
}

aside {
  margin: 0 1rem;
}
.mat-divider {
  margin: 1rem 0;
}

section {
  @media (min-width: 600px) {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 5rem;
  }
}
