<!-- TODO: Something about 'default' -->
<!-- TBD: Deletion disabled if in use? -->
<!-- TBD: Parent? -->
<app-page-actions>
  <div
    [matMenuTriggerFor]="renameMenu"
    class="page-title"
    matTooltip="Edit profile name"
    matTooltipPosition="right"
  >
    <!-- <span
        >Profiles <span class="text-secondary" aria-hidden="true">·</span>
      </span> -->
    {{ profile.name }}
  </div>
</app-page-actions>

<section class="static">
  <div>
    <!-- <h2>Brightness</h2> -->
    <!-- ??? merge? better wording maybe: flatten? -->
    <p>Schedules overlap and merge. Order determines the&nbsp;priority.</p>
    <mat-slide-toggle color="primary" [(ngModel)]="profile.dynamic"
      >Account for 🚗 traffic</mat-slide-toggle
    >
  </div>
  <div class="behaviour">
    <figure class="preview">
      <!-- ???: As button-toggle? -->
      <!-- TODO: Replace with specifc date selection if multiple are set  -->
      <mat-tab-group *ngIf="active !== 'date'" animationDuration="0">
        <mat-tab label="Mon"></mat-tab>
        <mat-tab label="Tue"></mat-tab>
        <mat-tab label="Wed"></mat-tab>
        <mat-tab label="Thu"></mat-tab>
        <mat-tab label="Fri"></mat-tab>
        <mat-tab label="Sat"></mat-tab>
      </mat-tab-group>
      <profile-visualisation [data]="data"></profile-visualisation>
      <figcaption class="preview__legend mat-caption">
        <div>
          <span><i class="dot"></i> Base brightness</span>
          <span
            ><i class="dot"></i> In the presence of vehicles or
            pedestrians</span
          >
        </div>
        <div>
          Noon <mat-slide-toggle color="primary">Midnight</mat-slide-toggle>
          <span class="text-secondary">in the middle</span>
        </div>
      </figcaption>
    </figure>
    <mat-accordion>
      <profile-schedule
        *ngFor="
          let schedule of profile.schedules;
          last as isLast;
          first as isFirst
        "
        [schedule]="schedule"
        [last]="isLast"
        [first]="isFirst"
      ></profile-schedule>
    </mat-accordion>
    <mat-selection-list [multiple]="false">
      <mat-list-option>
        <div class="text-secondary" matLine>
          <mat-icon
            class="small"
            svgIcon="plusBold"
            aria-hidden="true"
          ></mat-icon>
          Add
        </div>
      </mat-list-option>
    </mat-selection-list>

    <ng-container *ngIf="profile.dynamic">
      <mat-list role="list">
        <mat-list-item role="listitem" class="text-secondary"
          >In the presence of transport or people the brightness will increase
          by:</mat-list-item
        >
        <!-- IF 1 -->
        <!-- <mat-list-item role="listitem"
          ><p><strong>+30%</strong> in the presence of transport or people</p>
        </mat-list-item> -->
      </mat-list>
      <mat-accordion>
        <profile-schedule-dynamic
          *ngFor="
            let schedule of profile.schedulesDynamic;
            last as isLast;
            first as isFirst
          "
          [schedule]="schedule"
          [last]="isLast"
          [first]="isFirst"
        ></profile-schedule-dynamic>
        <!-- TODO: Reordering -->
      </mat-accordion>
      <mat-selection-list [multiple]="false">
        <mat-list-option>
          <div class="text-secondary" matLine>
            <mat-icon
              class="small"
              svgIcon="plusBold"
              aria-hidden="true"
            ></mat-icon>
            Add
          </div>
        </mat-list-option>
      </mat-selection-list>
    </ng-container>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <h2>Settings</h2>
  <mat-selection-list role="list">
    <mat-list-option role="listitem">
      <div matLine>Account for ☀️ natural light</div>
      <span class="text-secondary" matLine
        >Amount of ambient light will be taken into account in the calculation
        of brightness. Requires the light&nbsp;sensor.</span
      >
    </mat-list-option>
  </mat-selection-list>
</section>
<mat-divider></mat-divider>
<section>
  <h2>Active</h2>
  <div>
    <mat-radio-group [(ngModel)]="active" aria-label="Select an option">
      <mat-radio-button value="always">Always</mat-radio-button>
      <mat-radio-button value="range">During the time period</mat-radio-button>
      <mat-radio-button value="date">On a specific day(s)</mat-radio-button>
    </mat-radio-group>
    <!-- TODO: 'Add date' button -->
    <mat-form-field *ngIf="active == 'date'">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <!-- TODO: Autofocus when the radio is clicked -->
    <mat-form-field *ngIf="active == 'range'">
      <mat-label>Date or range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date" />
        <input matEndDate placeholder="End date" />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div>
    <h2>Devices</h2>
    <aside class="mat-caption text-secondary">
      Sensor-dependent settings are applied when&nbsp;possible.
    </aside>
  </div>
  <profile-device-list></profile-device-list>
</section>
<mat-divider></mat-divider>
<mat-selection-list role="list" [multiple]="false">
  <mat-list-option role="listitem">
    <mat-icon matListIcon svgIcon="trashRegular" aria-hidden="true"></mat-icon>
    <div matLine>Delete</div>
  </mat-list-option>
</mat-selection-list>

<!-- TODO: Move to shared -->
<!-- TODO: Autoselect text -->
<mat-menu #renameMenu="matMenu">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input autofocus matInput [value]="profile.name" />
  </mat-form-field>
</mat-menu>
