@import "../../../../styles/mixins";

section {
  @include section-grid;
  &.static,
  &.dynamic {
    @media (min-width: 600px) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 4fr);
    }
  }
}

section > div > {
  .mat-form-field,
  .mat-radio-group {
    margin: 1rem;
  }
  .mat-radio-group {
    display: block;
  }
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 1rem;
}

.mat-expansion-panel-header-title {
  margin-bottom: 0 !important;
}

.preview {
  border: 1px solid hsla(0, 0%, 0%, 0.1);
  // padding: 0 0.5rem 1rem;
  margin-bottom: 1rem;
  & > * + * {
    margin-top: 1rem;
  }
  profile-visualisation {
    margin: 0.5rem 0.5rem 0 0.5rem;
  }
  &__legend {
    padding: 0 1rem 0.75rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .mat-slide-toggle {
      margin-bottom: 0;
    }
    & > div {
      display: flex;
      align-items: center;
      gap: 1ch;
    }
  }
}

aside {
  margin-bottom: 1rem;
}

// ??? Generalise rule?
.mat-accordion + .mat-list-base {
  padding-top: 0;
}

// ???
.mat-icon.small {
  vertical-align: -10%;
}
