<!-- TODO: Something about 'default' -->
<!-- TBD: Deletion disabled if in use? -->
<!-- TBD: Parent? -->

<div *ngIf="profile$ | async as profile">
  <h1>
    <span matTooltip="Edit profile name" matTooltipPosition="right">{{
      profile.name
    }}</span>
  </h1>
  <mat-divider></mat-divider>
  <section>
    <h2>Behaviour</h2>

    <div class="behaviour">
      <div>
        <div>70%. Active always.</div>
        <mat-slider value="70" aria-label="brightness"></mat-slider>
        <div>
          <button mat-button>Specify days</button>
          <button mat-button>Specify time</button>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div>
        <div>30%. Active always.</div>
        <mat-slider value="30" aria-label="brightness"></mat-slider>
        <div>
          <button mat-button>Specify days</button>
          <button mat-button>Specify time</button>
        </div>
      </div>
      <button mat-stroked-button>Add behaviour</button>
      <p>
        <small class="text-secondary"
          >Default profile will be applied to the time periods excluded from the
          schedule.</small
        >
      </p>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <h2>Settings</h2>
    <mat-selection-list role="list">
      <mat-list-option role="listitem">
        <div matLine>Account for trafic</div>
        <span class="text-secondary" matLine>Requires the motion sensor</span>
      </mat-list-option>
      <mat-list-option role="listitem">
        <div matLine>Account for natural light</div>
        <span class="text-secondary" matLine>Requires the lux meter</span>
      </mat-list-option>
    </mat-selection-list>
  </section>
  <mat-divider></mat-divider>
  <section>
    <h2>Device groups using this&nbsp;profile</h2>
    <mat-selection-list role="list" [multiple]="false">
      <mat-list-option class="list-item-icon-right" role="listitem">
        <mat-icon matListIcon svgIcon="chevronRightRegular"></mat-icon>
        <div matLine>Group A</div>
        <span class="text-secondary" matLine>92 lamps</span>
      </mat-list-option>
      <mat-list-option class="list-item-icon-right" role="listitem">
        <mat-icon matListIcon svgIcon="chevronRightRegular"></mat-icon>
        <div matLine>Group B</div>
        <span class="text-secondary" matLine
          >16 lamps. No natural light adjustment.</span
        >
      </mat-list-option>
      <mat-list-option class="list-item-icon-right" role="listitem">
        <mat-icon matListIcon svgIcon="chevronRightRegular"></mat-icon>
        <div matLine>Group C</div>
        <span class="text-secondary" matLine>24 lamps. No motion sensor.</span>
      </mat-list-option>
    </mat-selection-list>
  </section>
  <mat-divider></mat-divider>
  <mat-selection-list role="list" [multiple]="false">
    <mat-list-option role="listitem">
      <mat-icon matListIcon svgIcon="editRegular"></mat-icon>
      <div matLine>Rename</div>
    </mat-list-option>
    <mat-list-option role="listitem">
      <mat-icon matListIcon svgIcon="deleteRegular"></mat-icon>
      <div matLine>Delete</div>
    </mat-list-option>
  </mat-selection-list>
</div>
