<!-- TODO: Something about 'default' -->
<!-- TBD: Deletion disabled if in use? -->
<!-- TBD: Parent? -->
<ng-container *ngIf="profile$ | async as profile">
  <app-page-actions>
    <div
      class="page-title"
      matTooltip="Edit profile name"
      matTooltipPosition="right"
    >
      <span>Profiles → </span> {{ profile.name }}
    </div>
  </app-page-actions>
  <mat-divider></mat-divider>
  <section>
    <div>
      <h2>Schedule</h2>
      <aside class="mat-caption text-secondary">
        Default profile will be applied to the time periods not covered by
        the&nbsp;schedule.
      </aside>
    </div>

    <div class="behaviour">
      <mat-accordion>
        <profile-schedule></profile-schedule>
        <profile-schedule></profile-schedule>
      </mat-accordion>
      <mat-selection-list [multiple]="false">
        <mat-list-option>
          <div class="text-secondary" matLine>Add schedule</div>
        </mat-list-option>
      </mat-selection-list>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <h2>Settings</h2>
    <mat-selection-list role="list">
      <mat-list-option role="listitem">
        <div matLine>Account for 🚗 traffic</div>
        <span class="text-secondary" matLine
          >Sets brightness to 100% in the presence of vehicles or people.
          Requires the motion&nbsp;sensor.</span
        >
      </mat-list-option>
      <mat-list-option role="listitem">
        <div matLine>Account for ☀️ natural light</div>
        <span class="text-secondary" matLine
          >Amount of ambient light will be taken into account in the calculation
          of brightness. Requires the light&nbsp;sensor.</span
        >
      </mat-list-option>
    </mat-selection-list>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div>
      <h2>Devices</h2>
      <aside class="mat-caption text-secondary">
        Sensor-dependent settings are applied when&nbsp;possible.
      </aside>
    </div>
    <profile-device-list></profile-device-list>
  </section>
  <mat-divider></mat-divider>
  <mat-selection-list role="list" [multiple]="false">
    <mat-list-option role="listitem">
      <mat-icon matListIcon svgIcon="deleteRegular"></mat-icon>
      <div matLine>Delete</div>
    </mat-list-option>
  </mat-selection-list>
</ng-container>
