<div class="breadcrumbs mat-body-2">
  <button class="btn-link mat-body-2" [matMenuTriggerFor]="menu">
    Daugavpils
  </button>
  <mat-menu #menu="matMenu">
    <button routerLink="../../" mat-menu-item>Daugavpils</button>
    <button disabled mat-menu-item>Valka</button>
  </mat-menu>
  → <a routerLink="../">Group name</a> → <span>Upes iela</span>
</div>

<div *ngIf="device$ | async as device">
  <h1>Lamp {{ device.name }}</h1>
  <mat-tab-group id="device">
    <mat-tab label="Overview">
      <device-overview></device-overview>
    </mat-tab>
    <mat-tab label="Motion sensor">
      <device-motion-sensor></device-motion-sensor>
    </mat-tab>
    <mat-tab label="Metrics">
      <device-metrics></device-metrics>
    </mat-tab>
    <mat-tab label="Information">
      <device-info></device-info>
    </mat-tab>
    <mat-tab label="History">
      <device-history></device-history>
    </mat-tab>
  </mat-tab-group>
</div>
