// TODO: Gap will not work in Safari

:host {
  display: grid;
  gap: 0.5rem;
  @media (max-width: 599px) {
    padding: 0 1rem;
  }
}

h2 {
  margin-left: 1rem;
  margin-bottom: 0;
  font-weight: 500;
}
