<!-- TODO: History/archive: list of completed/rejected tasks -->
<!-- TODO: Sorting by device type, group e.g. city district? -->
<!-- Assigned to me: when empty tell the user to go and pick something -->

<header>
  <button mat-button [matMenuTriggerFor]="menu">
    Open<mat-icon svgIcon="dropdownMedium" aria-hidden="true"></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Open</button>
    <button mat-menu-item>Assigned to me</button>
    <button mat-menu-item>Unassigned</button>
    <button mat-menu-item>High priority</button>
    <button mat-menu-item>In progress</button>
    <button mat-menu-item>...</button>
  </mat-menu>
</header>
<!-- TODO: Hide assignee when filter is set to "Assigned to me" -->
<task-card *ngFor="let task of tasks; trackBy: trackByTaskId" [task]="task"></task-card>
