// TODO: Gap will not work in Safari

:host > *:not(:first-child) + * {
  margin-top: 0.5rem;
}

:host > h2 {
  margin-left: 1rem;
  margin-bottom: 0;
  font-weight: 500;
}

.mat-card {
  border: 1px solid transparent;
}

.mat-card:hover {
  background: transparent;
  border: 1px solid hsla(0, 0%, 0%, 0.1);
}

h3,
.mat-card-title {
  font-size: 1rem;
  font-weight: 500;
}

.mat-card-content > * + * {
  margin-top: 0.25rem;
}
