<!-- TODO: List of completed/rejected tasks? -->
<!-- TODO: Sorting by device type, group e.g. city district? -->

<header>
  <h2 class="text-heading">Tasks</h2>
  <button mat-button [matMenuTriggerFor]="menu">
    Open<mat-icon svgIcon="dropdownMedium" aria-hidden="true"></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Open</button>
    <button mat-menu-item>Assigned to me</button>
    <button mat-menu-item>Unassigned</button>
    <button mat-menu-item>High priority</button>
    <button mat-menu-item>In progress</button>
    <button mat-menu-item>...</button>
  </mat-menu>
</header>
<task-card *ngFor="let task of tasks" [task]="task"></task-card>
