<span class="mat-body-2 text-secondary">{{ currentLayer }}</span>

<button
  [matMenuTriggerFor]="menuLegend"
  type="button"
  aria-label="Toggle legend"
  mat-icon-button
>
  <mat-icon svgIcon="infoBold" aria-label="Legent toggle icon"></mat-icon>
</button>

<mat-menu #menuLegend="matMenu">
  <ul *ngIf="currentLayer == 'status'" role="list">
    <li [class]="status.color" *ngFor="let status of statuses">
      {{ status.name }}
    </li>
  </ul>

  <ul *ngIf="currentLayer == 'profile'" role="list">
    <li [class]="'color-' + profile.id" *ngFor="let profile of profiles">
      <i class="dot" [style.background]="profile.colour"></i> {{ profile.name }}
    </li>
  </ul>
</mat-menu>
