@import "../../../../styles/mixins.scss";

.mat-toolbar {
  @media (min-width: 600px) {
    padding-left: 3.5rem;
  }

  position: absolute;
  z-index: 500;
  flex: 1 0 64px;
  background: transparent;
  pointer-events: none;
  line-height: normal;
  gap: 0.5rem;

  & button,
  & input,
  & .mat-icon {
    pointer-events: initial;
  }
}
