<mat-list>
  <mat-list-item>
    <div mat-line>Updated</div>
    <div mat-line>Fri, 11 Jun 2021 19:09:50</div>
  </mat-list-item>
  <mat-list-item>
    <div mat-line>Model</div>
    <div mat-line>MSLC205R</div>
  </mat-list-item>
  <mat-list-item>
    <div mat-line>Serial</div>
    <div mat-line>FF04203452202020514E5334D07AD0F0</div>
  </mat-list-item>
  <mat-list-item>
    <div mat-line>Address</div>
    <div mat-line>dev:lc06248</div>
  </mat-list-item>
  <mat-list-item>
    <div mat-line>SC address</div>
    <div mat-line>DEV:TB8be6fe46521a400494617e5b4638643d</div>
  </mat-list-item>
  <mat-list-item>
    <div mat-line>Location</div>
    <div mat-line>55.885524953771, 26.507931053638</div>
  </mat-list-item>
  <mat-list-item>
    <div mat-line>Installed</div>
    <div mat-line>Fri, 11 Jun 2021 19:09:50</div>
  </mat-list-item>
  <mat-list-item>
    <div mat-line>hW version</div>
    <div mat-line>1.00ZHAGA</div>
  </mat-list-item>
  <mat-list-item>
    <div mat-line>sW version</div>
    <div mat-line>1.9.83A</div>
  </mat-list-item>
</mat-list>
