@import "../../../styles/mixins";
@import "../../../styles/variables.scss";

:host {
  display: block;
  padding-top: 3.5rem;
  padding-bottom: 3rem;
  @media (min-width: 600px) {
    padding-left: $main-padding-left-desktop;
  }
  gap: 1rem;
  & > .mat-card {
    width: 100%;
  }
  & > * + * {
    margin-top: 1rem;
  }
}

aside {
  margin: 0 1rem;
}

section {
  @include section-grid;
}

.full-width {
  width: 100%;
}

.mat-radio-button {
  display: block;
  margin: 0.5rem 0;
}

.org__list-item {
  .mat-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
