<app-page-actions>
  User profile
  <button mat-flat-button color="primary" type="submit">Save</button>
</app-page-actions>

<mat-card class="mat-elevation-z0">
  <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card-header>
      <mat-card-title>Personal information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="First name"
              formControlName="firstName"
            />
            <mat-error
              *ngIf="addressForm.controls['firstName'].hasError('required')"
            >
              First name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Last name"
              formControlName="lastName"
            />
            <mat-error
              *ngIf="addressForm.controls['lastName'].hasError('required')"
            >
              Last name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </form>
</mat-card>

<mat-card class="mat-elevation-z0">
  <mat-card-header>
    <mat-card-title>Security</mat-card-title>
  </mat-card-header>
</mat-card>
