<app-page-actions>
  <div class="page-title">User profile</div>
</app-page-actions>
<section>
  <h2>Personal information</h2>
  <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>First name</mat-label>
          <input matInput formControlName="firstName" />
          <mat-error
            *ngIf="addressForm.controls['firstName'].hasError('required')"
          >
            First name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Last name</mat-label>
          <input matInput formControlName="lastName" />
          <mat-error
            *ngIf="addressForm.controls['lastName'].hasError('required')"
          >
            Last name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Phone</mat-label>
          <input matInput type="tel" formControlName="phone" />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Time zone</mat-label>
          <input matInput formControlName="timezone" />
        </mat-form-field>
      </div>
    </div>
  </form>
</section>
<mat-divider></mat-divider>
<section>
  <h2>Change password</h2>
  <div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>New password</mat-label>
          <input matInput formControlName="password" />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Repeat new password</mat-label>
          <input matInput formControlName="passwordRepeat" />
        </mat-form-field>
      </div>
    </div>
    <button mat-stroked-button>Change</button>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <h2>Role</h2>

  <mat-selection-list [multiple]="false">
    <mat-list-option class="org__list-item list-item-icon-right">
      <mat-icon
        mat-list-icon
        svgIcon="deleteRegular"
        aria-hidden="true"
      ></mat-icon>
      <div mat-line>
        Fitter
        <!-- <button mat-button [matMenuTriggerFor]="menu">
          Fitter<mat-icon svgIcon="dropdownMedium"></mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Organisation administrator</button>
          <button mat-menu-item>City administrator</button>
          <button mat-menu-item>Fitter</button>
        </mat-menu> -->
      </div>
    </mat-list-option>
    <mat-list-option> Add </mat-list-option>
  </mat-selection-list>
</section>
<mat-divider></mat-divider>
<section>
  <h2>Notify when</h2>
  <div>
    <mat-list role="list">
      <mat-list-item role="listitem">The voltage is too low</mat-list-item>
      <mat-list-item role="listitem">Power is too low</mat-list-item>
      <mat-list-item role="listitem">Power is too high</mat-list-item>
    </mat-list>
    <mat-selection-list [multiple]="false">
      <mat-list-option> Edit </mat-list-option>
    </mat-selection-list>
  </div>
</section>
<mat-divider></mat-divider>
<section #permissions>
  <h2>Permissions</h2>
  <permissions></permissions>
</section>
