<header>
  <h2 class="text-heading">Areas</h2>
  <button mat-button [matMenuTriggerFor]="menu">
    Traffic<mat-icon svgIcon="dropdownMedium"></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>All</button>
    <button mat-menu-item>Unassigned</button>
    <button mat-menu-item>...</button>
  </mat-menu>
</header>
<div id="areas">
  <mat-card *ngFor="let area of areas">
    <mat-card-header>
      <mat-card-title>{{ area.name }}</mat-card-title>
      <mat-card-subtitle>6 groups, 17 lamps, Default profile</mat-card-subtitle>
    </mat-card-header>
    <area-chart mat-card-image [data]="data"></area-chart>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Unregistered</mat-card-title>
      <mat-card-subtitle>27 lamps</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
