<header>
  <button mat-button [matMenuTriggerFor]="areaMenu">
    Energy consumption<mat-icon
      svgIcon="dropdownMedium"
      aria-hidden="true"
    ></mat-icon>
  </button>
  <mat-menu #areaMenu="matMenu">
    <button mat-menu-item>Traffic</button>
    <button mat-menu-item>Energy consumption</button>
    <button mat-menu-item>CO2 emissions</button>
    <button mat-menu-item>etc...</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="areaTimeMenu">
    Today<mat-icon svgIcon="dropdownMedium" aria-hidden="true"></mat-icon>
  </button>
  <mat-menu #areaTimeMenu="matMenu">
    <button mat-menu-item>Today</button>
    <button mat-menu-item>Yesterday</button>
    <button mat-menu-item>Last 7 days</button>
    <button mat-menu-item>Custom</button>
  </mat-menu>
</header>
<div id="areas">
  <mat-card *ngFor="let area of areas; let i = index">
    <mat-card-header>
      <mat-card-title
        ><span class="dot" matTooltip="Connection stability: 97%"></span>
        {{ area.name }}</mat-card-title
      >
      <mat-card-subtitle
        >6 groups, 3&nbsp;profiles, 27&nbsp;lamps</mat-card-subtitle
      >
    </mat-card-header>
    <!-- TODO: Add nominal energy level -->
    <area-chart class="card-chart" mat-card-image [data]="data[i]"></area-chart>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Unregistered</mat-card-title>
      <mat-card-subtitle>27 lamps</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
