<!-- TODO: Dublicate SAVE button in the bottom on mobile -->

<app-page-actions>
  <a [matMenuTriggerFor]="menu" class="page-title page-nav" role="button"
    >Add {{ type }} <mat-icon svgIcon="dropdownMedium"></mat-icon>
  </a>
  <mat-menu #menu="matMenu">
    <button (click)="type = 'lamp'" [disabled]="type == 'lamp'" mat-menu-item>
      Lamp
    </button>
    <button
      (click)="type = 'segment controller'"
      [disabled]="type == 'segment controller'"
      mat-menu-item
    >
      Segment controller
    </button>
  </mat-menu>
  <div>
    <button
      cdkOverlayOrigin
      (click)="isScannerOpen = !isScannerOpen"
      #trigger="cdkOverlayOrigin"
      mat-icon-button
      aria-label="Scan QR code"
    >
      <mat-icon svgIcon="qrBold"></mat-icon>
    </button>
    <button mat-flat-button color="accent" type="submit">Save</button>
  </div>
</app-page-actions>

<!-- QR scanner starts automatically and runs until successful detection -->
<!-- + SKIP button -->
<!-- https://material.angular.io/cdk/overlay/overview#full-screen-overlays -->
<ng-template
  #connectedOverlay="cdkConnectedOverlay"
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isScannerOpen"
  [cdkConnectedOverlayHasBackdrop]="overlayOptions.hasBackdrop"
  [cdkConnectedOverlayPositions]="overlayOptions.positions"
  (backdropClick)="hideOverlay()"
  (detach)="hideOverlay()"
>
  <scanner-dialog [connectedOverlay]="connectedOverlay"></scanner-dialog>
</ng-template>

<initialisation-lamp *ngIf="type == 'lamp'"></initialisation-lamp>
<initialisation-sc *ngIf="type == 'segment controller'"></initialisation-sc>
