@mixin transition {
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

// TODO: Fix
// TODO: Replace duplicated styles in components
@mixin section-grid {
  padding: 1rem;
  @media (min-width: 600px) {
    display: grid;
    gap: 5rem;
    grid-template-columns: minmax(0, 1fr) minmax(0, 4fr);
  }
  @media (min-width: 1240px) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 3fr) minmax(0, 1fr);
  }
}

@mixin dark-mode {
  --text-color: 0, 0%, 100%;
  // hmmm...
  --text-color-1: hsla(var(--text-color), 0.9);
  --text-color-2: hsla(var(--text-color), 0.6);
  --text-color-3: hsla(var(--text-color), 0.3);
  color: var(--text-color-1);
}
