@mixin transition {
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

// TODO: Fix
// TODO: Replace duplicated styles in components
@mixin section-grid {
  padding: 1rem;
  @media (min-width: 600px) {
    display: grid;
    gap: 5rem;
    grid-template-columns: 1fr 3fr 1fr;
  }
}
