@use '~@angular/material' as mat;
@import "~@angular/material/theming";
@include mat.core();

@import "mixins";
@import "map";
@import "layout";
@import "typography";
@import "navigation";
@import "mobile";
@import "mat";

$angular-primary: mat.define-palette(mat.$blue-palette, 500, 100, 900);
$angular-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$angular-warn: mat.define-palette(mat.$red-palette);

$default-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

$custom-typography: mat-typography-config(
  $font-family: "'General Sans', sans-serif",
);

@include mat.all-component-themes($default-theme);
@include mat.all-component-typographies($custom-typography);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

.dark,
section#activity {
  @include mat.all-component-colors($dark-theme);
}

:root {
  --error: 0, 72%, 51%;
  --warning: 38, 92%, 50%;
  --info: 217, 91%, 60%;
  --success: 163, 88%, 20%;
  --success-bg: 149, 80%, 90%, 1;
  --green-100: 144, 73%, 91%;
  --green-500: 150, 39%, 52%;
  --green-800: 155, 39%, 265;
  --yellow-100: 48, 89%, 89%;
  --yellow-400: 42, 87%, 62%;
  --yellow-800: 22, 65%, 32%;
  --red-100: 3, 66%, 93%;
  --red-400: 3, 91%, 71%;
  --red-500: 3, 68%, 58%;
  --red-800: 3, 61%, 34%;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  align-content: start;
  font-family: "General Sans", "Helvetica Neue", sans-serif;
}

// TODO: Better scroll fix?
.main-content {
  overflow-y: scroll !important;
}

button.active {
  background: mat.get-color-from-palette(mat.$amber-palette, 400);
}

.mat-icon-button:not(.active):not([disabled]):hover {
  background: hsla(0, 0%, 0%, 0.05);
}

button {
  @include transition;
}

.mat-icon.mat-list-avatar svg {
  width: 1.5rem;
}

.mat-icon-inline svg {
  height: 1rem;
  width: 1rem;
  transform: scale(1.5);
  vertical-align: -12%;
  path {
    fill: currentColor;
  }
}

.mat-card-header-text:first-child {
  margin: 0 !important;
}

.mat-card,
.mat-expansion-panel {
  box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 20%), 0px 0px 0px 0px rgb(0 0 0 / 14%),
    0px 0px 0px 0px rgb(0 0 0 / 12%) !important;
}

.mat-form-field-underline {
  display: none !important;
}

#task-dialog.mat-dialog-container {
  max-width: 50vmax;
  padding: 1.5rem 0 1.5rem 0;
  .mat-dialog-content,
  .mat-dialog-title,
  .mat-dialog-actions {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .mat-dialog-content,
  .mat-dialog-title {
    padding: 0;
  }

  .mat-list-item-content {
    padding: 0 1.5rem;
  }
  .mat-subheader {
    padding: 0 1.5rem;
  }
}

.mat-list-item.list-item-icon-right {
  .mat-icon,
  .mat-list-icon {
    order: -1;
  }
  .mat-list-text {
    padding: 0 !important;
  }
}

#permissions {
  .mat-expansion-panel-body {
    padding: 0.5rem;
  }
}

#device,
#permissions {
  .mat-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .mat-expansion-panel-body {
    padding: 1rem;
    & > .mat-form-field + .mat-form-field {
      margin-left: 1rem;
    }
    & > .mat-list-base {
      margin-left: -1rem;
      margin-right: -1rem;
    }
  }
  .mat-expansion-panel.mat-expanded {
    background: hsla(0, 0%, 0%, 0.05);
  }
}

.btn-link {
  background: none !important;
  border: none;
  padding: 0 !important;
  cursor: pointer;
  svg {
    vertical-align: middle;
  }
}

// TODO: Move to component
.breadcrumbs {
  a,
  button {
    @include transition;
    color: var(--text-color-2);
    fill: var(--text-color-2);
    &:hover {
      color: var(--text-color-1);
      fill: var(--text-color-1);
    }
  }
}

.alert {
  font-size: 1rem;
  font-weight: 500;

  min-height: 2.25rem;
  color: hsla(var(--error), 0.9);
  background: white;
  // border: 1px solid hsla(var(--error), 0.3);
  padding: 0.75rem 1rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  &__message {
    display: inline-flex;
    gap: 1ch;
  }
}

// Aligning icons in input fields
.mat-form-field-flex {
  align-items: center !important;
}

.no-label {
  .mat-form-field-infix {
    border-top: 0 solid transparent;
    padding: 1em 0 0.75em 0 !important;
  }
  &.mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: translateY(0);
  }
}

.input-auto-width {
  .mat-form-field-flex,
  .mat-form-field-infix {
    width: auto !important;
  }
  &.time {
    .mat-form-field-flex,
    .mat-form-field-infix {
      min-width: 11ch !important;
    }
  }
}

input.time {
  width: 4.5ch;
}

.no-hint .mat-form-field-wrapper {
  padding-bottom: 0;
}

.mat-slider {
  padding-right: 0 !important;
  padding-left: 0 !important;
  .mat-slider-wrapper {
    left: 0 !important;
    right: 0 !important;
  }
}

.mat-expansion-panel:not(.mat-expanded) {
  background-color: transparent !important;
}

.mat-standard-chip {
  gap: 0.25rem;
}

.empty {
  padding: 2rem;
  h3,
  p {
    color: var(--text-color-3);
    text-align: center;
    margin: 0;
  }
  h3 {
    color: var(--text-color-2);
  }
}

.mat-pseudo-checkbox-checked::after {
  color: var(--text-color-1);
}

.mat-accent .mat-checkbox-checkmark-path {
  stroke: var(--text-color-1) !important;
}

.list-max-toggle {
  order: 3;
}

.page-title {
  @media (min-width: 600px) {
    margin-left: 1rem;
  }

  z-index: 500;
  & > span {
    color: var(--text-color-3);
  }
}

// Override ma-list disabled styles
.mat-list-item-disabled {
  background: inherit;
  color: var(--text-color-3) !important;
  fill: var(--text-color-3);
}

// Disable fixed icon size in list items
.mat-list-item.list-item-with-btn {
  .mat-list-icon {
    width: auto !important;
    height: auto !important;
    min-width: 1.5rem;
    min-height: 1.5rem;
  }
}

.mat-expansion-panel-header {
  height: auto;
  padding: 1rem !important;
  &.mat-expanded {
    height: auto;
  }
}

.mat-list-base {
  // Overrading MD styles
  &:focus {
    outline: none;
  }
  .mat-list-option .mat-line {
    white-space: normal;
  }
}

#permissions {
  .mat-expansion-panel-body {
    padding-right: 0;
    padding-left: 0;
  }
}

.card-chart svg {
  display: block;
}

// TODO: Move
.mat-list-base .mat-list-item.mat-2-line,
.mat-list-base .mat-list-option.mat-2-line {
  height: auto !important;
}
.mat-list-item.mat-2-line,
.mat-list-option.mat-2-line {
  min-height: 72px;
}
.mat-list-item-content {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.badge-list {
  display: inline-flex;
  & > * + * {
    margin-left: 0.25rem;
  }
  .badge {
    line-height: 1.25rem;
    font-weight: 600;
    font-size: 0.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background: hsla(0, 0%, 0%, 0.1);
    color: var(--text-color-2);
    border-radius: 1rem;
    display: inline-flex;

    &.success {
      color: hsl(var(--green-800));
      background: hsl(var(--green-100));
    }
    &.warning {
      color: hsl(var(--yellow-800));
      background: hsl(var(--yellow-100));
    }
  }
}

.mat-icon.small {
  width: 1rem;
  height: 1rem;
}

#page-actions-container {
  flex: 1 0 auto;
  display: flex;
  justify-content: space-between;
  @media (min-width: 600px) {
    padding: 0 0 0 1rem;
  }
  align-items: center;
  & > div {
    * + * {
      margin-left: 0.5rem;
    }
  }

  a.page-nav {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    &:hover {
      color: var(--text-color-2);
      fill: var(--text-color-2);
    }
  }
}

.list-subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem 0 1rem;
}

// Shared

.dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  background: var(--text-color-2);
  display: inline-flex;
  position: relative;
  vertical-align: middle;
  &.active {
    background: hsl(var(--green-500));
  }
  &.warning {
    background: hsl(var(--yellow-400));
  }
  &.error {
    background: hsl(var(--red-500));
  }
  &.off {
    background: hsla(0, 0%, 0%, 0.3);
  }
}

// D3

svg text {
  font-family: "General Sans", sans-serif !important;
}

svg#device-metrics {
  margin-top: -4rem;
  background: white;
  // background: hsla(0%, 0, 0, 0.05);
  path.domain {
    stroke-width: 0;
  }
}

#device-metrics-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.5rem;
  .mat-slide-toggle {
    margin: 1rem 0;
  }
  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    height: auto;
    line-height: 2rem;
  }
}
