<device-alerts [deviceId]="device.id"></device-alerts>
<device-tasks [deviceId]="device.id"></device-tasks>

<mat-list role="list">
  <h3 matSubheader>Contactor controls</h3>
  <mat-divider></mat-divider>
  <ng-container *ngFor="let relay of relays">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ relay.name }}</mat-panel-title>
        <mat-panel-description class="text-secondary">
          {{ relay.settings.on ? "On" : "Off"
          }}{{ relay.settings.manual ? ", in manual mode" : ""
          }}{{ relay.settings.inverted ? ", inverted" : "" }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field class="no-hint">
        <mat-label>Profile</mat-label>
        <select [disabled]="relay.settings.manual" matNativeControl>
          <option
            *ngFor="let profile of profiles$ | async"
            [selected]="profile.id === relay.profileId"
          >
            {{ profile.name }}
          </option>
        </select>
      </mat-form-field>
      <mat-selection-list>
        <mat-list-option
          [selected]="setting.value"
          *ngFor="let setting of relay.settings | keyvalue: keepOrder"
        >
          {{ setting.key | titlecase }}
        </mat-list-option>
      </mat-selection-list>
      <mat-selection-list [multiple]="false">
        <mat-list-option [matMenuTriggerFor]="relayCommentPopover">
          <div mat-line *ngIf="relay.comment">
            <span class="mat-caption text-secondary">Comment</span>
          </div>
          <div mat-line>
            {{ relay.comment ? relay.comment : "Add comment" }}
          </div>
        </mat-list-option>
      </mat-selection-list>
      <mat-menu #relayCommentPopover="matMenu">
        <mat-form-field>
          <input matInput placeholder="Comment" [value]="relay.comment" />
        </mat-form-field>
      </mat-menu>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
  </ng-container>
</mat-list>

<!-- Properties -->
<!-- TBD: Door status is irrelevant as long as it's closed -->

<!-- Actions -->

<mat-selection-list role="list" [multiple]="false">
  <mat-list-option role="listitem">
    <mat-icon matListIcon svgIcon="ticketRegular" aria-hidden="true"></mat-icon>
    <div matLine>Create task</div>
  </mat-list-option>
  <mat-list-option role="listitem" (click)="on = !on">
    <mat-icon
      matListIcon
      [svgIcon]="on ? 'cancelCircleRegular' : 'checkCircleRegular'"
      aria-hidden="true"
    ></mat-icon>
    <div matLine>Turn {{ on ? "off" : "on" }}</div>
  </mat-list-option>
  <mat-list-option role="listitem" (click)="powerlines = !powerlines">
    <mat-icon matListIcon svgIcon="powerRegular" aria-hidden="true"></mat-icon>
    <div matLine>{{ powerlines ? "Import" : "Clear" }} powerlines</div>
  </mat-list-option>
  <mat-list-option role="listitem">
    <mat-icon matListIcon svgIcon="moveRegular" aria-hidden="true"></mat-icon>
    <div matLine>Move</div>
  </mat-list-option>
  <mat-list-option disabled role="listitem">
    <mat-icon matListIcon svgIcon="firmwareRegular"></mat-icon>
    <div matLine>Update firmware</div>
    <span class="text-secondary" matLine>Up to date — {{ device.firmware }}.</span>
  </mat-list-option>
  <mat-list-option role="listitem">
    <mat-icon matListIcon svgIcon="trashRegular"></mat-icon>
    <div matLine>Delete</div>
  </mat-list-option>
</mat-selection-list>
