<mat-accordion id="permissions">
  <mat-expansion-panel *ngFor="let permissionGroup of permissions">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ permissionGroup.name }}</mat-panel-title>
      <mat-panel-description> View, edit, delete </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-selection-list
      *ngFor="let permission of permissionGroup.permissions"
      #permissionsList
    >
      <mat-list-option>
        {{ permission.name }}
      </mat-list-option>
    </mat-selection-list>
  </mat-expansion-panel>
</mat-accordion>
