<mat-list>
  <ng-container *ngFor="let friend of friends">
    <mat-list-item>
      <p matLine>{{ friend }}</p>
      <button
        (click)="removeFriend(friend)"
        mat-icon-button
        aria-label="Remove friend"
      >
        <mat-icon svgIcon="deleteRegular"></mat-icon>
      </button>
    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-container>
</mat-list>

<mat-form-field class="no-label" appearance="standard">
  <input
    type="text"
    placeholder="Add friend"
    aria-label="Number"
    matInput
    [matAutocomplete]="auto"
    #newFriend
    (keyup.enter)="addFriend(newFriend.value); newFriend.value = ''"
  />
  <mat-icon matSuffix svgIcon="enterRegular"></mat-icon>

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of newFriendOptions" [value]="option">
      {{ option }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
