<h2 mat-dialog-title>Add category</h2>
<mat-form-field>
  <mat-label>Name</mat-label>
  <input
    cdkFocusInitial
    matInput
    placeholder="District, street or some other area"
  />
</mat-form-field>
<!-- TODO: Replace with autocomplete. -->
<!-- Default parent = root OR group from which the dialog is opened -->
<mat-form-field>
  <mat-label>Subcategory of</mat-label>
  <mat-select [(value)]="parent">
    <mat-option value="root">Daugavpils</mat-option>
    <mat-option value="one">First option</mat-option>
    <mat-option value="two">Second option</mat-option>
  </mat-select>
</mat-form-field>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true">Cancel</button>
  <button
    mat-flat-button
    color="accent"
    [mat-dialog-close]="true"
    cdkFocusInitial
  >
    Add
  </button>
</mat-dialog-actions>
