<mat-card>
  <mat-card-header>
    <mat-card-title>Reset your password</mat-card-title>
  </mat-card-header>
  <form>
    <mat-form-field>
      <mat-label>New password</mat-label>
      <input type="password" matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Repeat password</mat-label>
      <input type="password" matInput />
      <mat-error>Password doesn't match</mat-error>
    </mat-form-field>
    <button mat-flat-button color="accent">Reset</button>
  </form>
</mat-card>
