.devices-container {
  height: 100%;
}

.device-list {
  background: #fafafa;
  border-right: 0;

  @media (max-width: 599px) {
    width: 100vw;
  }

  // width: 50vw;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);

  &.maximized {
    width: 100vw;

    // .list-max-toggle {
    //   right: 6rem;
    // }
  }
}

.mat-mini-fab:not(.mat-accent) {
  background-color: transparent;
}

.list-toggle {
  position: absolute;
  left: 0.5rem;
  top: 0.75rem;
  z-index: 500;
}
