<app-page-actions>
  <breadcrumbs></breadcrumbs>
  <div>
    <button
      [matMenuTriggerFor]="addMenu"
      type="button"
      aria-label="Add"
      mat-icon-button
    >
      <mat-icon svgIcon="plusBold" aria-hidden="true"></mat-icon>
    </button>
    <mat-menu #addMenu="matMenu">
      <button routerLink="/management/initialise" mat-menu-item>Device</button>
      <button (click)="openDialog()" mat-menu-item>Area</button>
    </mat-menu>
    <button
      [color]="maximized ? '' : 'accent'"
      class="list-max-toggle mat-elevation-z0"
      type="button"
      aria-label="Toggle device list"
      mat-mini-fab
      (click)="toggleMaximize()"
    >
      <mat-icon svgIcon="mapBold" aria-hidden="true"></mat-icon>
    </button>
    <button type="button" aria-label="SHow more actions" mat-icon-button>
      <mat-icon svgIcon="moreVerticalBold" aria-hidden="true"></mat-icon>
    </button>
    <!-- TODO: ??? -->
  </div>
</app-page-actions>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    [(opened)]="opened"
    #drawer
    class="sidenav"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="isHandset ? 'over' : 'side'"
    [opened]="isHandset === false"
    [class]="maximized ? 'maximized' : ''"
  >
    <router-outlet></router-outlet>
  </mat-sidenav>
  <mat-sidenav-content>
    <button
      class="list-toggle"
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
    >
      <mat-icon
        [svgIcon]="opened ? 'chevronLeftBold' : 'chevronRightBold'"
        aria-hidden="true"
      ></mat-icon>
    </button>
    <devices-map></devices-map>
  </mat-sidenav-content>
</mat-sidenav-container>
