<app-page-actions>
  <button
    [color]="maximized ? '' : 'accent'"
    class="list-max-toggle mat-elevation-z0"
    type="button"
    aria-label="Toggle sidenav"
    mat-mini-fab
    (click)="toggleMaximize()"
  >
    <mat-icon svgIcon="mapBold" aria-label="List toggle icon"></mat-icon>
  </button>
</app-page-actions>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    [(opened)]="opened"
    #drawer
    class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    [class]="maximized ? 'maximized' : ''"
  >
    <router-outlet></router-outlet>
  </mat-sidenav>
  <mat-sidenav-content>
    <button
      class="list-toggle"
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
    >
      <mat-icon
        [svgIcon]="opened ? 'chevronLeftBold' : 'chevronRightBold'"
        aria-label="List toggle icon"
      ></mat-icon>
    </button>
    <devices-map></devices-map>
  </mat-sidenav-content>
</mat-sidenav-container>
