<app-page-actions>
  <button mat-button [matMenuTriggerFor]="menu">
    Daugavpils<mat-icon svgIcon="dropdownMedium"></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Daugavpils</button>
    <button mat-menu-item>Valka</button>
  </mat-menu>
</app-page-actions>

<mat-chip-list aria-label="Fish selection">
  <mat-chip>Property</mat-chip>
  <mat-chip>Another property</mat-chip>
  <mat-chip color="primary" selected>Primary property</mat-chip>
  <mat-chip color="accent" selected>Accent property</mat-chip>
</mat-chip-list>

<mat-selection-list role="list" [multiple]="false">
  <mat-list-option role="listitem">
    <div matLine>Group A</div>
    <span matLine>2 unregistered lamps</span>
  </mat-list-option>
  <mat-list-option role="listitem">
    <div matLine>Group B</div>
  </mat-list-option>
  <mat-list-option role="listitem">
    <div matLine>Group C</div>
  </mat-list-option>
  <mat-list-option role="listitem">
    <div matLine>Group D</div>
  </mat-list-option>
  <mat-list-option role="listitem">
    <div matLine>Group E</div>
  </mat-list-option>
</mat-selection-list>
