.sidenav-container {
  height: 100%;
}

.sidenav {
  background: #fafafa;
  border-right: 0;
  width: 50vw;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);

  .list-max-toggle {
    position: absolute;
    right: 0.5rem;
    top: 0.75rem;
    z-index: 500;
  }

  &.maximized {
    width: 100vw;

    .list-max-toggle {
      right: 6rem;
    }
  }
}

.list-toggle {
  position: absolute;
  left: 0.5rem;
  top: 0.75rem;
  z-index: 500;
}
