<button
  [matMenuTriggerFor]="menuLayers"
  type="button"
  aria-label="Toggle layers menu"
  mat-icon-button
>
  <mat-icon svgIcon="layersBold" aria-label="Layer toggle icon"></mat-icon>
</button>

<mat-menu #statuses="matMenu">
  <!-- TBD: Disable if none? -->
  <!-- TBD: Ammount of devices with status? -->
  <button mat-menu-item disabled>All</button>
  <button mat-menu-item>Alarm</button>
  <button mat-menu-item>No power</button>
  <button mat-menu-item>Not responding</button>
  <mat-divider></mat-divider>
  <button mat-menu-item>Off</button>
  <button mat-menu-item>Active</button>
  <button mat-menu-item>Inactive</button>
  <button mat-menu-item>Uninitialised</button>
</mat-menu>

<mat-menu #menuLayers="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="statuses">Status</button>
  <button mat-menu-item>Profile</button>
  <button mat-menu-item>Segment controllers</button>
  <mat-divider></mat-divider>
  <!-- TODO: check for a11y issues -->
  <!-- https://github.com/angular/components/issues/9739-->
  <button mat-menu-item>
    Sensor icons
    <mat-slide-toggle></mat-slide-toggle>
  </button>
  <button mat-menu-item>
    Device names
    <mat-slide-toggle [(ngModel)]="showNames"></mat-slide-toggle>
  </button>
</mat-menu>
