<!-- TODO: Lamp-specific profiles -->
<!-- TODO: Custom profiles -->

<app-page-actions>
  <div class="page-title">Profiles</div>
  <button
    (click)="openDialog()"
    type="button"
    aria-label="Add profile"
    mat-icon-button
  >
    <mat-icon svgIcon="plusBold" aria-hidden="true"></mat-icon>
  </button>
</app-page-actions>

<mat-selection-list role="list" [multiple]="false">
  <mat-list-option
    class="list-item-icon-right"
    [routerLink]="[profile.id]"
    role="listitem"
    *ngFor="let profile of profiles"
  >
    <mat-icon
      matListIcon
      svgIcon="chevronRightRegular"
      aria-hidden="true"
    ></mat-icon>
    <div matLine>{{ profile.name }}</div>
    <span matLine class="text-secondary">{{ profile.description }}</span>
  </mat-list-option>
</mat-selection-list>
