@import "../../../../styles/mixins.scss";

:host > h2 {
  margin-left: 1rem;
  margin-bottom: 0;
}

h3 {
  font-weight: 500 !important;
  margin-bottom: 0;
}

.empty {
  padding: 1rem;
}

// Inverting icons in toolbar
::ng-deep {
  .dashboard {
    button#search,
    button#notifications {
      @media (min-width: 600px) {
        @include dark-mode;
      }
    }
  }
}
