<!-- TODO: Link device -->
<!-- TODO: Sorting: by date, type, device type and group, specific event types (e.g. voltage, temp, ...) -->

<!-- ???: Filter out current user's actions? They kind of know what they did  -->

<button mat-button [matMenuTriggerFor]="menu">
  {{ filter | listSummary }}
  <!-- All -->
  <mat-icon svgIcon="dropdownMedium" aria-hidden="true"></mat-icon>
</button>
<mat-menu #menu="matMenu">
  <!-- <button mat-menu-item>All</button> -->
  <!-- <button mat-menu-item>User actions</button>
  <button mat-menu-item>Device events</button> -->
  <mat-selection-list #options>
    <mat-list-option
      (click)="handleFilterChange($event, 'user')"
      [selected]="filter.user"
    >
      User actions
    </mat-list-option>
    <div mat-subheader>Device events</div>
    <mat-list-option
      (click)="handleFilterChange($event, 'critical')"
      [selected]="filter.critical"
    >
      Critical
    </mat-list-option>
    <mat-list-option
      (click)="handleFilterChange($event, 'warning')"
      [selected]="filter.warning"
    >
      Non-critial
    </mat-list-option>
    <mat-list-option
      (click)="handleFilterChange($event, 'info')"
      [selected]="filter.info"
    >
      Info messages
    </mat-list-option>
  </mat-selection-list>
  <!-- <div mat-subheader>Sort</div> -->
  <!-- <button mat-menu-item [matMenuTriggerFor]="sortOptions">Newest first</button> -->
</mat-menu>

<mat-menu #sortOptions="matMenu">
  <button mat-menu-item>Newest first</button>
  <button mat-menu-item>By type</button>
</mat-menu>

<mat-selection-list
  [multiple]="false"
  *ngIf="fileredEvents.length > 0; else empty"
>
  <ng-container *ngFor="let event of fileredEvents; trackBy: trackByEventId">
    <!-- TODO: ??? -->
    <device-event [event]="event" *ngIf="event.type == 'device'"></device-event>
    <user-event [event]="event" *ngIf="event.type == 'user'"></user-event>
  </ng-container>
</mat-selection-list>

<!-- TODO: no results for specifc filter -->
<ng-template #empty>
  <p class="empty">Strange, but no events of this kind happened yet.</p>
</ng-template>
