<h2 mat-dialog-title>{{ data.task.title }}</h2>
<mat-dialog-content>
  <mat-chip-list aria-label="Status and priority">
    <mat-chip>New</mat-chip>
    <mat-chip>Low priority</mat-chip>
    <!-- <mat-chip>
      <mat-icon svgIcon="userRegular"></mat-icon>
      Unassigned
    </mat-chip> -->
  </mat-chip-list>

  <!-- Device -->

  <!-- Event -->

  <!-- Comments -->
  <mat-list>
    <mat-list-item>
      <mat-icon inline svgIcon="chevronRightRegular"></mat-icon>
      <h4 matLine>Event name</h4>
      <p matLine>Property</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 matSubheader>Comments</h3>
    <mat-list-item>
      <!-- <mat-icon inline svgIcon="messageRegular"></mat-icon> -->
      <h4 matLine>John</h4>
      <p matLine>Haha, no</p>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>
