<ng-container *ngIf="info$ | async as info">
  <mat-action-list>
    <button mat-list-item (click)="openModelDialog()">
      <div mat-line>Model</div>
      <div mat-line>{{ device.model }}</div>
    </button>
  </mat-action-list>
  <mat-list>
    <mat-list-item>
      <div mat-line>Serial</div>
      <div mat-line>{{ info.serial }}</div>
    </mat-list-item>
    <mat-list-item>
      <div mat-line>Address</div>
      <div mat-line>{{ info.address }}</div>
    </mat-list-item>
    <mat-list-item *ngIf="info.controllerAddress">
      <div mat-line>SC address</div>
      <div mat-line>{{ info.controllerAddress }}</div>
    </mat-list-item>
    <mat-list-item *ngIf="device.lat != null">
      <div mat-line>Location</div>
      <div mat-line>
        {{ device.lat | number: "1.6-6" }}, {{ device.lng | number: "1.6-6" }}
      </div>
    </mat-list-item>
    <mat-list-item *ngIf="info.model">
      <div mat-line>hW version</div>
      <div mat-line>{{ info.model.hardwareVersion }}</div>
    </mat-list-item>
    <mat-list-item>
      <div mat-line>sW version</div>
      <div mat-line>{{ device.firmware }}</div>
    </mat-list-item>
    <ng-container *ngIf="info.model?.luminaire">
      <mat-list-item>
        <div mat-line>Luminaire</div>
        <div mat-line>{{ info.model.luminaire }}</div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line>Driver model</div>
        <div mat-line>{{ info.model.driverModel }}</div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line>Driver producer</div>
        <div mat-line>{{ info.model.driverProducer }}</div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line>Luminaire max power, W</div>
        <div mat-line>{{ info.model.wattage }}</div>
      </mat-list-item>
    </ng-container>
  </mat-list>
</ng-container>
