<ng-container *ngIf="notifications$ | async as notifications">
  <button
    class="text-secondary"
    [matMenuTriggerFor]="notificationsMenu"
    id="notifications"
    mat-icon-button
    aria-label="Notifications"
  >
    <mat-icon
      [matBadge]="notifications.length"
      [matBadgeHidden]="notifications.length === 0"
      matBadgeColor="warn"
      svgIcon="notificationBold"
      aria-hidden="true"
    ></mat-icon>
    <span class="cdk-visually-hidden">
      {{ notifications.length }} notifications
    </span>
  </button>

  <mat-menu #notificationsMenu="matMenu">
    <ng-container *ngFor="let n of notifications; let last = last">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ n.event.title.trim() }}</mat-card-title>
          <mat-card-subtitle>{{
            n.event.created | dfnsFormatRelative: now
          }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ n.device?.name }}{{ n.event.description ? ": " + n.event.description : "" }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="open(n)">Open device</button>
          <button mat-button (click)="dismiss(n, $event)">Dismiss</button>
        </mat-card-actions>
      </mat-card>
      <mat-divider *ngIf="!last"></mat-divider>
    </ng-container>
    <p *ngIf="notifications.length === 0" class="text-secondary empty">
      No new notifications.
    </p>
  </mat-menu>
</ng-container>
