<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    id="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <div>
      <button
        mat-icon-button
        aria-label="Dashboard"
        routerLink="./"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon svgIcon="dashboardBold"></mat-icon>
      </button>
      <button
        mat-icon-button
        aria-label="Devices"
        routerLink="./devices"
        routerLinkActive="active"
      >
        <mat-icon svgIcon="planetBold"></mat-icon>
      </button>
      <button
        mat-icon-button
        aria-label="Profiles"
        routerLink="./profiles"
        routerLinkActive="active"
      >
        <mat-icon svgIcon="profileBold"></mat-icon>
      </button>
      <button
        disabled
        mat-icon-button
        aria-label="Reports"
        routerLink="./reports"
        routerLinkActive="active"
      >
        <mat-icon svgIcon="chartBold"></mat-icon>
      </button>
    </div>
    <div class="text-secondary">
      <button
        mat-icon-button
        aria-label="Administration"
        routerLink="./admin"
        routerLinkActive="active"
      >
        <mat-icon svgIcon="gearBold"></mat-icon>
      </button>
      <button
        mat-icon-button
        aria-label="User profile"
        routerLinkActive="active"
        [matMenuTriggerFor]="userMenu"
      >
        <mat-icon svgIcon="userBold"></mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="languages">Language</button>
        <button mat-menu-item routerLink="./user-profile">Profile</button>
        <mat-divider></mat-divider>
        <button (click)="logout()" mat-menu-item>Log out</button>
      </mat-menu>
      <mat-menu #languages="matMenu">
        <button mat-menu-item>English</button>
        <button mat-menu-item>Latvian</button>
        <button mat-menu-item>Estonian</button>
      </mat-menu>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="main-content">
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon
          svgIcon="menuBold"
          aria-label="Side nav toggle icon"
        ></mat-icon>
      </button>
      <div id="page-actions-container">
        <!-- content will be placed dynamically via Cdk Portal -->
      </div>
      <mat-form-field class="no-hint" *ngIf="search; else searchButton">
        <input matInput placeholder="Search" />
        <mat-icon
          (click)="search = !search"
          matSuffix
          svgIcon="closeMedium"
        ></mat-icon>
      </mat-form-field>
      <ng-template #searchButton>
        <button
          (click)="search = !search"
          id="notifications"
          mat-icon-button
          aria-label="Search"
        >
          <mat-icon svgIcon="searchBold"></mat-icon>
          <span class="cdk-visually-hidden">Search button</span>
        </button>
      </ng-template>
      <mat-menu #notificationsMenu="matMenu">
        <mat-card class="mat-elevation-z0">
          <mat-card-header>
            <mat-card-title>John</mat-card-title>
            <mat-card-subtitle>5 min ago</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Notifications from the system, assignements, etc. Aligned with
              profile settings.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Action</button>
            <button mat-button>Dismiss</button>
          </mat-card-actions>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card class="mat-elevation-z0">
          <mat-card-header>
            <mat-card-title class="mat-subheader-1">Mary</mat-card-title>
            <mat-card-subtitle>Yesterday</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Notifications from the system, assignements, etc. Aligned with
              profile settings.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Action</button>
            <button mat-button>Dismiss</button>
          </mat-card-actions>
        </mat-card>
        <!-- <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button> -->
      </mat-menu>
      <button
        [matMenuTriggerFor]="notificationsMenu"
        id="notifications"
        mat-icon-button
        aria-label="Notifications"
      >
        <mat-icon
          matBadge="2"
          matBadgeColor="warn"
          svgIcon="notificationBold"
        ></mat-icon>
        <span class="cdk-visually-hidden">15 notifications</span>
      </button>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
