.mat-drawer {
  background: transparent;
  padding: 1rem 0.5rem;
}

.mat-drawer-container {
  height: 100%;
}

.mat-drawer-side {
  background: transparent;
  border-right: 0;
}

.mat-toolbar {
  position: absolute;
  z-index: 500;
  flex: 1 0 64px;
  background: transparent;
  button#notifications {
    margin-left: auto;
  }
}

#page-actions-container {
  flex: 1 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

main {
  padding: 0 0 0 2rem;
  flex: 1 0 100%;
}
