<!-- TODO: Fix item active state -->

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    id="sidenav"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="isHandset ? 'over' : 'side'"
    [opened]="isHandset === false"
  >
    <div>
      <!-- primary nav -->
      <mat-selection-list
        [multiple]="false"
        *ngIf="isHandset; else desktopPrimaryNav"
      >
        <mat-list-option
          (click)="drawer.close()"
          *ngFor="let navItem of primaryNavItems"
          [routerLink]="navItem.route"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <mat-icon
            mat-list-icon
            [svgIcon]="navItem.icon"
            aria-hidden="true"
          ></mat-icon>
          <div mat-line>{{ navItem.label }}</div>
        </mat-list-option>
      </mat-selection-list>

      <ng-template #desktopPrimaryNav>
        <nav class="nav-tabs">
          <a
            class="nav-tab"
            *ngFor="let navItem of primaryNavItems"
            [routerLink]="navItem.route"
            routerLinkActive="nav-tab--active"
            [routerLinkActiveOptions]="navItem.label == 'Dashboard' ? { exact: true } : {}"
            [matTooltip]="navItem.label"
            matTooltipPosition="right"
            [attr.aria-label]="navItem.label"
          >
            <mat-icon [svgIcon]="navItem.icon" aria-hidden="true"></mat-icon>
          </a>
        </nav>
      </ng-template>
    </div>
    <!-- secondary nav -->
    <div class="text-secondary">
      <mat-selection-list
        [multiple]="false"
        *ngIf="isHandset; else desktopSecondaryNav"
      >
        <mat-list-option
          (click)="drawer.close()"
          routerLink="./admin"
          routerLinkActive="active"
        >
          <mat-icon
            mat-list-icon
            svgIcon="gearBold"
            aria-hidden="true"
          ></mat-icon>
          <div mat-line>Administration</div>
        </mat-list-option>
        <app-user-profile-menu
          (navClose)="drawer.close()"
        ></app-user-profile-menu>
      </mat-selection-list>
      <ng-template #desktopSecondaryNav>
        <button
          mat-icon-button
          aria-label="Administration"
          routerLink="./admin"
          routerLinkActive="active"
        >
          <mat-icon svgIcon="gearBold" aria-hidden="true"></mat-icon>
        </button>
        <app-user-profile-menu></app-user-profile-menu>
      </ng-template>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="main-content">
    <app-toolbar (navToggle)="drawer.toggle()"></app-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
