.mat-toolbar {
  background: transparent;
  button#notifications {
    margin-left: auto;
  }
}

#page-actions-container {
  flex: 1 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}
