<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <div>
      <button
        mat-icon-button
        aria-label="Dashboard"
        routerLink="./"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon svgIcon="dashboardBold"></mat-icon>
      </button>
      <button
        mat-icon-button
        aria-label="Devices"
        routerLink="./devices"
        routerLinkActive="active"
      >
        <mat-icon svgIcon="planetBold"></mat-icon>
      </button>
      <button
        mat-icon-button
        aria-label="Profiles"
        routerLink="./profiles"
        routerLinkActive="active"
      >
        <mat-icon svgIcon="profileBold"></mat-icon>
      </button>
      <button
        disabled
        mat-icon-button
        aria-label="Reports"
        routerLink="./reports"
        routerLinkActive="active"
      >
        <mat-icon svgIcon="chartBold"></mat-icon>
      </button>
    </div>
    <div class="text-secondary">
      <button
        mat-icon-button
        aria-label="Administration"
        routerLink="./admin"
        routerLinkActive="active"
      >
        <mat-icon svgIcon="gearBold"></mat-icon>
      </button>
      <button
        mat-icon-button
        aria-label="User profile"
        routerLinkActive="active"
        [matMenuTriggerFor]="userMenu"
      >
        <mat-icon svgIcon="userBold"></mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="languages">Language</button>
        <button mat-menu-item routerLink="./user-profile">Profile</button>
        <mat-divider></mat-divider>
        <button (click)="logout()" mat-menu-item>Log out</button>
      </mat-menu>
      <mat-menu #languages="matMenu">
        <button mat-menu-item>English</button>
        <button mat-menu-item>Latvian</button>
        <button mat-menu-item>Estonian</button>
      </mat-menu>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button mat-button [matMenuTriggerFor]="menu">
        Daugavpils<mat-icon svgIcon="dropdownMedium"></mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Daugavpils</button>
        <button mat-menu-item>Valka</button>
      </mat-menu>
      <button mat-icon-button aria-label="Notifications">
        <mat-icon
          matBadge="15"
          matBadgeColor="warn"
          svgIcon="notificationBold"
        ></mat-icon>
        <span class="cdk-visually-hidden">15 notifications</span>
      </button>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
