<mat-list-option
  *ngIf="device"
  [class]="'entry ' + 'entry-' + event.level"
  [routerLink]="'devices/device/' + [device.id]"
>
  <mat-icon
    *ngIf="event.level == 'info'"
    svgIcon="infoMedium"
    matListAvatar
    aria-hidden="true"
  ></mat-icon>
  <mat-icon
    *ngIf="event.level == 'warning'"
    svgIcon="alertMedium"
    matListAvatar
    aria-hidden="true"
  ></mat-icon>
  <mat-icon
    *ngIf="event.level == 'critical'"
    svgIcon="warningMedium"
    matListAvatar
    aria-hidden="true"
  ></mat-icon>
  <div matLine>
    <h3>{{ event.title }}</h3>
    <!-- <small class="text-secondary">{{
      event.created | dfnsFormatRelative: now
    }}</small> -->
  </div>
  <p matLine class="text-secondary">
    {{ device.name }} &bull; {{ group.name }} &bull;
    {{ event.created | dfnsFormatRelative: now }}
  </p>
</mat-list-option>
