:host {
  position: relative;
  width: 100%;
  height: 100%;
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.map-frame,
#map {
  height: 100%;
}

mgl-map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.mat-chip.mat-standard-chip::after {
  background: none;
}
.mat-chip.mat-standard-chip:not(.mat-chip-disabled):active {
  box-shadow: none;
}

// TODO: Specify
.mat-menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.mat-menu-item .mat-icon {
  margin-right: 0;
}

#map-controls {
  pointer-events: none;
  height: 100%;
  width: 100%;
  position: relative;
  // > leaflet pane (400)
  z-index: 500;

  * {
    pointer-events: initial;
  }

  #map-controls__layers {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }
}
