<div class="map-controls__container">
  <div class="map-controls">
    <div>
      <button
        (click)="map.zoomIn(1)"
        type="button"
        aria-label="Zoom in"
        mat-icon-button
      >
        <mat-icon svgIcon="zoomInBold" aria-hidden="true"></mat-icon>
      </button>

      <button
        (click)="map.zoomOut(1)"
        type="button"
        aria-label="Zoom out"
        mat-icon-button
      >
        <mat-icon svgIcon="zoomOutBold" aria-hidden="true"></mat-icon>
      </button>
      <map-layer-menu
        [currentLayer]="deviceLayer"
        (layerChange)="changeLayer($event)"
      ></map-layer-menu>
    </div>
    <!-- SCs don't need a legend -->
    <map-legend
      *ngIf="deviceLayer !== 'sc'"
      [currentLayer]="deviceLayer"
    ></map-legend>
  </div>
</div>

<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>
