<!-- TODO: Save [current filter settings] as category -->

<mat-chip-list multiple aria-label="Filter selection">
  <mat-chip
    [removable]="selected.type"
    (removed)="updateType(null)"
    [selected]="selected.type"
    [matMenuTriggerFor]="typeFilterMenu"
    >{{ selected.type ? (selected.type | i18nSelect: typeMap) : "Type"
    }}<mat-icon
      *ngIf="selected.type"
      matChipRemove
      svgIcon="closeBold"
    ></mat-icon
  ></mat-chip>
  <!-- all, lamps, SCs, etc. -->
  <mat-chip
    [selected]="selected.status"
    [removable]="selected.status"
    (removed)="updateStatus(null)"
    [matMenuTriggerFor]="statusFilterMenu"
    >{{ selected.status ? (selected.status | i18nSelect: statusMap) : "Status"
    }}<mat-icon
      *ngIf="selected.status"
      matChipRemove
      svgIcon="closeBold"
    ></mat-icon
  ></mat-chip>
  <mat-chip [matMenuTriggerFor]="profileFilterMenu"> Profile</mat-chip>
  <!-- specify model, filter for devices with active events of specific type... -->
  <mat-chip selected> More filters • 2</mat-chip>
  <mat-chip class="round outlined"
    ><mat-icon class="small" matListIcon svgIcon="plusBold"></mat-icon
  ></mat-chip>
</mat-chip-list>

<mat-menu #typeFilterMenu="matMenu">
  <button (click)="updateType(null)" [disabled]="!selected.type" mat-menu-item>
    All
  </button>
  <button
    (click)="updateType(type)"
    [disabled]="type == selected.type"
    *ngFor="let type of types; let i = index"
    mat-menu-item
  >
    {{ type | i18nSelect: typeMap }}
  </button>
</mat-menu>
<mat-menu #profileFilterMenu="matMenu">
  <button mat-menu-item disabled>All</button>
  <button *ngFor="let profile of profiles" mat-menu-item>
    {{ profile.name }}
  </button>
</mat-menu>
<mat-menu #statusFilterMenu="matMenu">
  <button
    (click)="updateStatus(null)"
    mat-menu-item
    [disabled]="!selected.status"
  >
    All
  </button>
  <button
    (click)="updateStatus(status)"
    [disabled]="status == selected.status"
    *ngFor="let status of statuses"
    mat-menu-item
  >
    {{ status | i18nSelect: statusMap }}
  </button>
</mat-menu>

<mat-menu #categoryFilterMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="categoryLocation">Location</button>
  <button mat-menu-item disabled>Street</button>
  <button mat-menu-item [matMenuTriggerFor]="categoryFunctional">
    Functional
  </button>
  <button mat-menu-item disabled>User defined</button>
</mat-menu>

<mat-menu #categoryLocation="matMenu">
  <button disabled mat-menu-item>All</button>
  <button mat-menu-item>SC1</button>
  <button mat-menu-item>SC2</button>
  <button mat-menu-item>SC3</button>
  <button mat-menu-item>...</button>
</mat-menu>

<mat-menu #categoryFunctional="matMenu">
  <button mat-menu-item>All</button>
  <button mat-menu-item>Centrs (Gaismekli no 1-718 un 763-768)</button>
  <button mat-menu-item>Centrs (Gaismekli no 719-762)</button>
  <button mat-menu-item>Centrs (bez kategorijas)</button>
  <button mat-menu-item>...</button>
</mat-menu>
