<button mat-button [matMenuTriggerFor]="eventTypes">
  Critical device events
  <mat-icon svgIcon="dropdownMedium" aria-hidden="true"></mat-icon>
</button>

<button mat-button [matMenuTriggerFor]="criticalEventTypes">
  Lamp failure
  <mat-icon svgIcon="dropdownMedium" aria-hidden="true"></mat-icon>
</button>

<mat-menu #eventTypes="matMenu">
  <button mat-menu-item>All</button>
  <button mat-menu-item>User actions</button>
  <button mat-menu-item [matMenuTriggerFor]="deviceEventTypes">
    Device events
  </button>
</mat-menu>

<mat-menu #deviceEventTypes="matMenu">
  <button disabled mat-menu-item>Critical</button>
  <button mat-menu-item>Non-critical</button>
  <button mat-menu-item>Info messages</button>
</mat-menu>

<mat-menu #criticalEventTypes="matMenu">
  <button mat-menu-item>All</button>
  <button disabled mat-menu-item>Lamp failure</button>
  <button mat-menu-item>Power is too low</button>
  <button mat-menu-item>Voltage is too low</button>
  <button mat-menu-item>...</button>
</mat-menu>

<mat-selection-list>
  <mat-list-item class="entry" *ngFor="let entry of entries$ | async">
    <div matLine>
      <h3>{{ entry.heading }}</h3>
      <small class="text-secondary">{{ entry.created | date: "short" }}</small>
    </div>
    <p matLine>{{ entry.text }}</p>
  </mat-list-item>
</mat-selection-list>
