<button mat-button [matMenuTriggerFor]="eventTypes">
  Critical device events
  <mat-icon svgIcon="dropdownMedium" aria-hidden="true"></mat-icon>
</button>

<button mat-button [matMenuTriggerFor]="criticalEventTypes">
  Lamp failure
  <mat-icon svgIcon="dropdownMedium" aria-hidden="true"></mat-icon>
</button>

<mat-menu #eventTypes="matMenu">
  <button mat-menu-item>All</button>
  <button mat-menu-item>User actions</button>
  <button mat-menu-item [matMenuTriggerFor]="deviceEventTypes">
    Device events
  </button>
</mat-menu>

<mat-menu #deviceEventTypes="matMenu">
  <button disabled mat-menu-item>Critical</button>
  <button mat-menu-item>Non-critical</button>
  <button mat-menu-item>Info messages</button>
</mat-menu>

<mat-menu #criticalEventTypes="matMenu">
  <button mat-menu-item>All</button>
  <button disabled mat-menu-item>Lamp failure</button>
  <button mat-menu-item>Power is too low</button>
  <button mat-menu-item>Voltage is too low</button>
  <button mat-menu-item>...</button>
</mat-menu>

<mat-selection-list>
  <!-- click: to user profile -->
  <mat-list-item class="entry" *ngFor="let event of events">
    <div matLine>
      <h3>John Smith</h3>
      <small class="text-secondary">{{ event.created | date: "short" }}</small>
    </div>
    <p matLine>Changed {{ event.property }} to {{ event.to }}.</p>
  </mat-list-item>
  <!-- click: filters list by this event type -->
  <mat-list-item class="entry">
    <div matLine>
      <h3>Power is too low</h3>
      <small class="text-secondary">8/20/21</small>
    </div>
    <p matLine>Installed device.</p>
  </mat-list-item>
  <!-- device always has at least one event — installation/initialisation -->
  <mat-list-item class="entry">
    <div matLine>
      <h3>Adam Smith</h3>
      <small class="text-secondary">8/20/21</small>
    </div>
    <p matLine>Installed device.</p>
  </mat-list-item>
</mat-selection-list>
