<div class="stats" *ngIf="stats$ | async as stats">
  <dl>
    <dt>Power consumption</dt>
    <dd>
      <mat-icon class="small" svgIcon="openInNewRegular"></mat-icon>
    </dd>
  </dl>
  <!-- Click: filters the events list -->
  <!-- <dl>
    <dt>New alarms</dt>
    <dd class="mat-title">6</dd>
  </dl> -->
  <!-- Click: redirects to filtered device list -->
  <dl>
    <dt>Inactive devices</dt>
    <dd class="mat-title">{{ stats.inactiveDevices }}</dd>
  </dl>
  <!-- Click: filters the task list -->
  <!-- TODO: Find a way to disable hover for "empty" items -->
  <dl>
    <dt>New tasks</dt>
    <dd class="mat-title">{{ stats.newTasks }}</dd>
    <!-- <dd class="mat-title text-disabled">&mdash;</dd> -->
  </dl>
  <!-- Click: filters the task list -->
  <dl>
    <dt>Resolved tasks</dt>
    <dd class="mat-title">{{ stats.resolvedTasks }}</dd>
  </dl>
</div>
