<div class="stats">
  <!-- Click: filters the events list -->
  <dl>
    <dt>New alarms</dt>
    <dd class="mat-title">6</dd>
  </dl>
  <!-- Click: redirects to filtered device list -->
  <dl>
    <dt>Inactive</dt>
    <dd class="mat-title">71</dd>
  </dl>
  <!-- Click: filters the task list -->
  <!-- TODO: Find a way to disable hover for "empty" items -->
  <dl>
    <dt>New tasks</dt>
    <dd class="mat-title text-disabled">&mdash;</dd>
  </dl>
  <!-- Click: filters the task list -->
  <dl>
    <dt>Resolved tasks</dt>
    <dd class="mat-title">6</dd>
  </dl>
</div>
