@import "../../../../styles/mixins";

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14ch, 1fr));
  grid-auto-flow: column;
  grid-gap: 0.5rem;
  margin-bottom: 1rem;
  @media (max-width: 599px) {
    grid-template-columns: repeat(auto-fit, 25vw);
    overflow-y: scroll;
    padding: 1rem;
  }

  dl {
    @media (max-width: 599px) {
      width: 25vw;
    }
    @include transition;
    padding: 1rem;
    background: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    --icon-shadow-size: 0px;
    box-shadow: inset 0 0 0 var(--icon-shadow-size) hsla(var(--yellow-400));
    transition: box-shadow 0.2s ease;

    &:hover {
      --icon-shadow-size: 1px;
    }

    dt {
      color: var(--text-color-2);
    }

    dd {
      margin: 0;
      .mat-icon {
        margin-top: 1rem;
      }
    }
  }
}
