:host {
  display: block;
}

.mat-accordion {
  display: block;
  margin-top: 1rem;
}

:host ::ng-deep {
  #measurements .mat-expansion-panel.mat-expanded {
    background: transparent;
    .mat-expansion-panel-header.mat-expanded:hover {
      background: hsla(0, 0%, 0%, 0.05);
    }
  }

  .mat-button-toggle-group {
    margin: 1rem;
    .mat-button-toggle-label-content {
      height: auto;
      line-height: 2rem;
    }
  }
}

.controls {
  text-align: right;
}
