<!-- <mat-button-toggle-group
  name="timePeriod"
  aria-label="Time period"
  value="day"
>
  <mat-button-toggle value="day">Day</mat-button-toggle>
  <mat-button-toggle value="week">Week</mat-button-toggle>
  <mat-button-toggle value="month">Month</mat-button-toggle>
  <mat-button-toggle value="quarter">Quarter</mat-button-toggle>
  <mat-button-toggle value="quarter">Custom</mat-button-toggle>
</mat-button-toggle-group> -->

<!-- TODO: Hide if nothing is selected -->
<time-axis></time-axis>
<!-- <mat-divider></mat-divider> -->
<mat-accordion id="measurements" multi>
  <ng-container *ngFor="let measurement of measurements; let i = index">
    <mat-expansion-panel expanded hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title> {{ measurement.name }} </mat-panel-title>
            <mat-panel-description >
              {{ measurement.values[0].value }}{{ measurement.units }}
            </mat-panel-description>
          </mat-expansion-panel-header>
      <line-chart *ngIf="data[i]; else noDataMsg" [data]="data[i]" [index]="i"></line-chart>
      <ng-template #noDataMsg>
        <p class="text-secondary">Strange, but no data is available right now.</p>
      </ng-template>
    </mat-expansion-panel>
    <!-- <mat-divider></mat-divider> -->
  </ng-container>
</mat-accordion>
