h3 {
  margin: 1.5rem 1.5rem 0.5rem 1.5rem;
  font-weight: 500;
}

p {
  margin-bottom: 0rem;
}

.mat-expansion-panel {
  background-color: transparent;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    padding: 0.25rem 0;
  }
}

#chart {
  display: flex;
  gap: 2rem;
}

#list-chart-toggle {
  position: absolute;
  right: 0.5rem;
  top: 1rem;
  z-index: 1;
}
