<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title class="mat-subheading-2"
      ><strong>+{{ schedule.brightness | percent }}</strong
      >&nbsp; from {{ schedule.time.start | date: "HH:mm" }} to
      {{ schedule.time.end | date: "HH:mm" }}</mat-panel-title
    >
  </mat-expansion-panel-header>
  <div class="dynamic-range">
    <div>
      <mat-form-field class="no-label no-hint input-auto-width time">
        <mat-select value="20">
          <mat-option value="20"> 10% </mat-option>
        </mat-select>
      </mat-form-field>
      <span class="text-secondary">from</span>
      <mat-form-field class="no-label no-hint input-auto-width time">
        <mat-select value="02:00">
          <mat-option value="02:00"> 02:00 </mat-option>
        </mat-select>
      </mat-form-field>
      <span class="text-secondary">to</span>
      <mat-form-field class="no-label no-hint input-auto-width time">
        <mat-select value="05:00">
          <mat-option value="05:00"> 05:00 </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <button [disabled]="first" class="text-secondary" mat-icon-button>
        <mat-icon svgIcon="arrowThinUpRegular" aria-hidden="true"></mat-icon>
      </button>
      <button [disabled]="last" class="text-secondary" mat-icon-button>
        <mat-icon svgIcon="arrowThinDownRegular" aria-hidden="true"></mat-icon>
      </button>
      <button class="text-secondary" mat-icon-button>
        <mat-icon svgIcon="trashRegular" aria-hidden="true"></mat-icon>
      </button>
    </div>
  </div>
</mat-expansion-panel>
