<mat-expansion-panel [expanded]="expanded">
  <mat-expansion-panel-header>
    <mat-panel-title class="mat-subheading-2"
      ><strong>+{{ schedule.brightness | percent }}</strong
      >&nbsp;
      <ng-container *ngIf="wholeNight">from dusk to dawn</ng-container>
      <ng-container *ngIf="!wholeNight"
        >from {{ toOption(schedule.time.start) }} to
        {{ toOption(schedule.time.end) }}</ng-container
      ></mat-panel-title
    >
  </mat-expansion-panel-header>
  <div class="schedule-settings">
    <div>
      <mat-form-field class="no-label no-hint input-auto-width time">
        <mat-select
          [value]="schedule.brightness"
          (selectionChange)="setBoost($event.value)"
        >
          <mat-option *ngFor="let option of boostOptions" [value]="option">
            +{{ option | percent }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span class="text-secondary">from</span>
      <mat-form-field class="no-label no-hint input-auto-width time">
        <mat-select
          [value]="toOption(schedule.time.start)"
          (selectionChange)="setTime('start', $event.value)"
        >
          <mat-option *ngFor="let option of timeOptions" [value]="option.value">
            {{ option.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span class="text-secondary">to</span>
      <mat-form-field class="no-label no-hint input-auto-width time">
        <mat-select
          [value]="toOption(schedule.time.end)"
          (selectionChange)="setTime('end', $event.value)"
        >
          <mat-option *ngFor="let option of timeOptions" [value]="option.value">
            {{ option.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <button
        [disabled]="first"
        (click)="move.emit(-1)"
        class="text-secondary"
        aria-label="Move up"
        mat-icon-button
      >
        <mat-icon svgIcon="arrowThinUpRegular" aria-hidden="true"></mat-icon>
      </button>
      <button
        [disabled]="last"
        (click)="move.emit(1)"
        class="text-secondary"
        aria-label="Move down"
        mat-icon-button
      >
        <mat-icon svgIcon="arrowThinDownRegular" aria-hidden="true"></mat-icon>
      </button>
      <button
        (click)="remove.emit()"
        class="text-secondary"
        aria-label="Delete"
        mat-icon-button
      >
        <mat-icon svgIcon="trashRegular" aria-hidden="true"></mat-icon>
      </button>
    </div>
  </div>
</mat-expansion-panel>
