<!-- TODO: Event with task -->
<!-- TODO: Event without task -->

<!-- TODO: Filter out alerts with tasks -->
<section *ngFor="let alert of alerts" class="alert">
  <div>
    <mat-icon inline matListIcon svgIcon="alertMedium"></mat-icon>
    {{ alert.title }}
  </div>
  <div>
    <button mat-button>Create task</button>
    <button mat-button>Dismiss</button>
  </div>
</section>

<!-- Filter out completed tasks -->
<section id="device-tasks">
  <task-card
    [deviceInfo]="false"
    *ngFor="let task of activeTasks"
    [task]="task"
  ></task-card>
</section>

<mat-list role="list">
  <h3 matSubheader>Profile</h3>
  <mat-list-item role="listitem">
    <div matLine>
      Default <mat-icon inline svgIcon="sunRegular"></mat-icon> 65% until 22:00
    </div>
    <span matLine class="text-secondary"
      >Inherited. Overrides disabled for this group.</span
    >
  </mat-list-item>
  <h3 matSubheader>Orientation</h3>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>{{ device.orientation }}°</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-slider
      [value]="device.orientation"
      min="0"
      max="360"
      aria-label="unit(s)"
    ></mat-slider>
  </mat-expansion-panel>
  <h3 matSubheader>Surge protector</h3>
  <!-- TODO: On, off, no monitoring? -->
  <mat-list-item role="listitem">None</mat-list-item>
</mat-list>

<mat-selection-list role="list" [multiple]="false">
  <mat-list-option role="listitem">
    <mat-icon matListIcon svgIcon="ticketRegular"></mat-icon>
    <div matLine>Create task</div>
  </mat-list-option>
  <mat-list-option role="listitem" (click)="on = !on">
    <mat-icon
      matListIcon
      [svgIcon]="on ? 'cancelCircleRegular' : 'checkCircleRegular'"
    ></mat-icon>
    <div matLine>Turn {{ on ? "off" : "on" }}</div>
  </mat-list-option>
  <mat-list-option role="listitem">
    <mat-icon matListIcon svgIcon="moveRegular"></mat-icon>
    <div matLine>Move</div>
  </mat-list-option>
  <mat-list-option disabled role="listitem">
    <mat-icon matListIcon svgIcon="firmwareRegular"></mat-icon>
    <div matLine>Update firmware</div>
    <span class="text-secondary" matLine>Up to date — 0.1.3.</span>
  </mat-list-option>
  <mat-list-option role="listitem">
    <mat-icon matListIcon svgIcon="deleteRegular"></mat-icon>
    <div matLine>Delete</div>
  </mat-list-option>
</mat-selection-list>
