<nav class="breadcrumbs mat-h2" role="navigation">
  <a href="./home/">
    <span class="home-label">City</span>
  </a>

  <span class="crumb-separator" aria-hidden="true">·</span>

  <span class="crumb">
    <a href="./home/blog/">Group B</a>
    <span class="crumbicon">
      <mat-icon svgIcon="dropdownMedium"></mat-icon>
      <select class="disguised-select" title="Navigate to another group">
        <option>Group A</option>
        <option selected="">Group B</option>
        <option>Group C</option>
        <option>Group D</option>
      </select>
    </span>
  </span>

  <span class="crumb">
    <a href="./home/blog/front-end/">Child group B1</a>
    <span class="crumbicon">
      <mat-icon svgIcon="dropdownMedium"></mat-icon>
      <select class="disguised-select" title="Navigate to another group">
        <option selected="">Child group B1</option>
        <option>Child group B2</option>
      </select>
    </span>
  </span>

  <span class="crumb">
    <a aria-current="page">Lamp B1-3</a>
    <span class="crumbicon">
      <mat-icon svgIcon="dropdownMedium"></mat-icon>
      <select class="disguised-select" title="Navigate to another device">
        <option>Lamp 1-1</option>
        <option>Lamp 1-2</option>
        <option selected="">Lamp 1-3</option>
      </select>
    </span>
  </span>
</nav>
