<!-- TODO: Group of one → (separator!) → child groups -->
<!-- TODO: Click on the last/current opens its renaming -->
<!-- TODO: Replace selects with material menu -->

<nav class="breadcrumbs mat-h2" role="navigation">
  <a [matMenuTriggerFor]="categoryMenu">
    <!-- Devices grouped by... -->
    <span *ngIf="!groupId && !deviceId" class="home-label"
      >{{ category
      }}<mat-icon inline svgIcon="dropdownMedium" aria-hidden="true"></mat-icon
    ></span>
    <ng-container *ngIf="groupId || deviceId">
      <mat-icon svgIcon="cityBold" aria-hidden="true"></mat-icon>
      <span class="crumb-separator" aria-hidden="true">·</span>
    </ng-container>
  </a>

  <ng-container *ngIf="currentGroup">
    <span class="crumb" *ngFor="let level of currentGroup; let i = index">
      <a
        [matMenuTriggerFor]="i + 1 == currentGroup.length ? renameMenu : ''"
        [attr.aria-current]="!deviceId ? 'page' : 'false'"
        [routerLink]="'group/' + currentGroup[i].id"
        >{{ currentGroup[i].name }}</a
      >
      <span *ngIf="groupSiblings[i].length > 1" class="crumbicon">
        <mat-icon svgIcon="dropdownMedium" aria-hidden="true"></mat-icon>
        <select
          (change)="onGroupChange($event.target.value)"
          class="disguised-select"
          title="Navigate to another group"
        >
          <option
            *ngFor="let group of groupSiblings[i]"
            [selected]="group.id == currentGroup[i].id"
          >
            {{ group.name }}
          </option>
        </select>
      </span>
    </span>
  </ng-container>

  <span *ngIf="currentDevice" class="crumb">
    <a [matMenuTriggerFor]="renameMenu" aria-current="page">
      <i class="dot active" matTooltip="Active"></i>
      {{ currentDevice.type == "lamp" ? "Lamp" : "Segment controller" }}
      {{ currentDevice.name }}</a
    >
    <span *ngIf="devices.length > 1" class="crumbicon">
      <mat-icon svgIcon="dropdownMedium" aria-hidden="true"></mat-icon>
      <select
        (change)="onDeviceChange($event.target.value)"
        class="disguised-select"
        title="Navigate to another device"
      >
        <option
          [selected]="device.id == deviceId"
          *ngFor="let device of devices"
        >
          {{ device.name }}
        </option>
      </select>
    </span>
  </span>
</nav>

<!-- TODO: Move to shared -->
<!-- TODO: Autoselect text -->
<mat-menu #renameMenu="matMenu">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input autofocus matInput value="05-012" />
  </mat-form-field>
</mat-menu>

<mat-menu #categoryMenu="matMenu">
  <button mat-menu-item disabled>Location</button>
  <button mat-menu-item>Street</button>
  <button mat-menu-item>Function</button>
  <!-- aka "User defined" -->
  <button mat-menu-item>Custom</button>
  <button mat-menu-item>Unassigned</button>
</mat-menu>
