:host {
  margin-left: 1rem;
  max-width: 50%;
  // overflow: scroll;
  overflow: -moz-scrollbars-none;
  &::-webkit-scrollbar {
    width: 0 !important;
  }
}

.breadcrumbs {
  color: var(--text-color-2);

  --nav-gap: 1ch;
  display: flex;
  align-items: center;
  // overflow-x: auto;
  overscroll-behavior-x: contain;
  -ms-scroll-snap-type: x proximity;
  scroll-snap-type: x proximity;
  // gap: 0 var(--nav-gap);
  // Safari workaround

  & > * + * {
    margin-left: var(--nav-gap);
  }
  padding: calc(var(--nav-gap) / 2);
  scroll-padding-inline: calc(var(--nav-gap) / 2);
  &.mat-h2 {
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
    text-underline-offset: 0.25em;
    outline-offset: 3px;
  }
  & > a:first-of-type:not(.crumb) {
    display: inline-flex;
    align-items: center;
    gap: calc(var(--nav-gap) / 4);
  }
}

@media (max-width: 480px) {
  .breadcrumbs > a:first-of-type:not(.crumb) > .home-label {
    display: none;
  }
}

.breadcrumbs > .crumb:last-of-type {
  scroll-snap-align: end;
}
@supports (-webkit-hyphens: none) {
  .breadcrumbs {
    -ms-scroll-snap-type: none;
    scroll-snap-type: none;
  }
}
.crumb {
  display: inline-flex;
  align-items: center;
  gap: calc(var(--nav-gap) / 4);
}
.crumb > a {
  white-space: nowrap;
}
.crumb > a[aria-current="page"] {
  color: var(--text-color-1);
  fill: var(--text-color-1);
}
.crumb.tree-changed ~ * {
  display: none;
}
.crumb-separator {
  color: var(--text-color-3) !important;
}
.disguised-select {
  inline-size: 100%;
  block-size: 100%;
  opacity: 0.01;
  font-size: min(100%, 16px);
}
.crumbicon {
  --size: 2rem;
  display: grid;
  grid: [stack] var(--size) / [stack] var(--size);
  align-items: center;
  justify-items: center;
  place-items: center;
  border-radius: 50%;
  --icon-shadow-size: 0px;
  box-shadow: inset 0 0 0 var(--icon-shadow-size) hsla(var(--yellow-400));
}
@media (prefers-reduced-motion: no-preference) {
  .crumbicon {
    transition: box-shadow 0.2s ease;
  }
}
.crumb:is([focus-within], :hover) > .crumbicon {
  --icon-shadow-size: 1px;
}
.crumb:is(:focus-within, :hover) > .crumbicon {
  --icon-shadow-size: 1px;
}
.crumb > .crumbicon:is([focus-within], :hover) {
  --icon-shadow-size: 2px;
}
.crumb > .crumbicon:is(:focus-within, :hover) {
  --icon-shadow-size: 2px;
}
.crumb > .crumbicon:is([focus-within], :hover) svg {
  stroke-width: 2px;
}
.crumb > .crumbicon:is(:focus-within, :hover) svg {
  stroke-width: 2px;
}
.crumbicon > * {
  grid-area: stack;
}
.crumbicon > svg {
  max-block-size: 100%;
  margin: calc(var(--nav-gap) / 4);
  stroke: currentColor;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1px;
}

.dot {
  vertical-align: 5%;
}

.home-label {
  line-height: 1rem;
}
