:host {
  cursor: pointer;
  display: block;
}

.mat-card {
  border: 1px solid transparent;
  transition-property: border;
}

.mat-card:hover {
  // background: transparent;
  border-color: hsla(0, 0%, 0%, 0.2);
}

h3,
.mat-card-title {
  font-size: 1rem;
  font-weight: 500;
}

.mat-card-content > * + * {
  margin-top: 0.25rem;
}
