:host {
  cursor: pointer;
  display: block;
}

.mat-card {
  border: 1px solid transparent;
  transition-property: border;
  &:hover {
    border-color: hsla(0, 0%, 0%, 0.2);
  }
}

h3,
.mat-card-title {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 500;
}

.mat-card-content {
  display: flex;
  gap: 1ch;
  flex-direction: column;
}
