<mat-card (click)="openDialog(task)">
  <mat-card-header>
    <mat-card-title>{{ task.title }}</mat-card-title>
    <mat-card-subtitle>
      <div class="badge-list" aria-label="Status and priority">
        <div
          class="badge"
          [ngClass]="{
            success: task.status == 'New',
            warning: task.status == 'Rejected'
          }"
        >
          {{ task.status }}
        </div>
        <div
          *ngIf="task.priority !== 'Normal' && task.status !== 'Rejected'"
          class="badge"
          [ngClass]="{ warning: task.priority == 'High' }"
        >
          {{ task.priority }} priority
        </div>
      </div>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="text-secondary">
    <div *ngIf="deviceInfo">
      <mat-icon inline class="small" svgIcon="locationRegular"></mat-icon>
      {{ task.device }}
    </div>
    <div>
      <mat-icon inline class="small" svgIcon="userRegular"></mat-icon>
      {{ task.assignee ? task.assignee : "Unassigned" }}
    </div>
    <div *ngIf="task.comments.length">
      <mat-icon inline class="small" svgIcon="messageRegular"></mat-icon>
      {{ task.comments.length }} comments
    </div>
  </mat-card-content>
</mat-card>
