@import "highcharts";

// https://material.angular.io/guide/theming
@import "~@angular/material/theming";

@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: mat-palette($mat-light-blue);
$accent: mat-palette($mat-amber, A200, A100, A400);
$warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$theme: mat-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

$custom-typography: mat-typography-config(
  $font-family: "General Sans",
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);
@include angular-material-typography($custom-typography);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "General Sans", "Helvetica Neue", sans-serif;
}

// TODO: Move to component

#sidenav .mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  button {
    display: block;
  }
}

.mat-drawer-content {
  display: flex !important;
  flex-direction: column;
  flex-wrap: nowrap;
  // margin-left: 0 !important;
}

// TODO: Better scroll fix?
.main-content {
  overflow-y: scroll !important;
}

.text-primary {
  color: hsla(0, 0%, 0%, 0.9);
}

.text-secondary {
  color: hsla(0, 0%, 0%, 0.6);
}

// svg,
// path {
//   fill: currentColor;
// }

button.active {
  background: mat-color($mat-amber, 400);
}

.mat-icon-button:not(.active):not([disabled]):hover {
  background: hsla(0, 0%, 0%, 0.05);
}

@mixin transition {
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

button {
  @include transition;
}

.mat-tab-link {
  min-width: 0 !important;
}

.mat-icon.mat-list-avatar svg {
  width: 1.5rem;
}

.mat-icon-inline svg {
  height: 1rem;
  width: 1rem;
  transform: scale(1.5);
  margin: 0 0.25rem 0 0.5rem;
  vertical-align: -12%;
  path {
    fill: currentColor;
  }
}

.mat-icon.small {
  height: 1rem;
  width: 1rem;
  svg {
    height: 1rem;
    width: 1rem;
    transform: scale(1);
  }
}

.mat-chip.mat-standard-chip.outlined {
  background-color: transparent;
  border: 1px solid hsla(0, 0%, 0%, 0.1);
  color: hsla(0, 0%, 0%, 0.6);
  font-weight: normal;
  & > .mat-icon {
    transform: translateX(-0.25rem);
    height: 1rem;
  }
}

.mat-card-header-text:first-child {
  margin: 0 !important;
}

.mat-list-avatar svg {
  color: hsla(0, 0%, 0%, 0.3);
}

.mat-toolbar button,
.mat-toolbar .mat-chip,
.mat-drawer button {
  pointer-events: initial;
}

// TODO: Move to theme
.mat-card,
.mat-accordion .mat-expansion-panel,
.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 0 !important;
}

.mat-form-field-underline {
  display: none !important;
}

#task-dialog.mat-dialog-container {
  max-width: 50vmax;
  padding: 1.5rem 0 1.5rem 0;
  .mat-dialog-content,
  .mat-dialog-title,
  .mat-dialog-actions {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .mat-dialog-content,
  .mat-dialog-title {
    padding: 0;
  }

  .mat-list-item-content {
    padding: 0 1.5rem;
  }
  .mat-subheader {
    padding: 0 1.5rem;
  }
}

.mat-list-item.list-item-icon-right {
  .mat-icon {
    order: -1;
  }
  .mat-list-text {
    padding: 0 !important;
  }
}

#permissions {
  .mat-expansion-panel-body {
    padding: 0.5rem;
  }
}

#device {
  .mat-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .mat-expansion-panel-body {
    padding: 1rem 1.5rem;
    & > .mat-form-field + .mat-form-field {
      margin-left: 1rem;
    }
  }
  .mat-expansion-panel.mat-expanded {
    background: hsla(0, 0%, 0%, 0.05);
  }
  .mat-expansion-panel-header.mat-expanded {
    height: 48px;
  }
  // :nth-last-child(-n + 2)
  .mat-tab-label {
    min-width: auto;
  }
}

.btn-link {
  background: none !important;
  border: none;
  padding: 0 !important;
  cursor: pointer;
  svg {
    vertical-align: middle;
  }
}

.breadcrumbs {
  color: hsla(0, 0%, 0%, 0.6);
  margin-left: 1rem;
  margin-bottom: 1rem;
  a {
    text-decoration: none;
  }
  a,
  button {
    @include transition;
    color: hsla(0, 0%, 0%, 0.6);
    &:hover {
      color: hsla(0, 0%, 0%, 0.9);
    }
  }
  & :last-child {
    color: hsla(0, 0%, 0%, 0.9) !important;
  }
}

.alert {
  color: hsla(0, 72%, 51%, 0.9);
  background: hsla(0, 72%, 51%, 0.1);
  padding: 0.75rem 1rem;
}

.mat-slider {
  width: 100%;
}

.mat-form-field.no-label .mat-form-field-infix {
  padding-top: 0;
}

// Aligning icons in input fields
.mat-form-field-flex {
  align-items: center !important;
}

// For resizing inputs
.mat-form-field-flex,
.mat-form-field-infix {
  width: auto !important;
}

.mat-form-field-infix {
  border-top: 0 solid transparent;
  padding: 1em 0 0.75em 0 !important;
}

input.time {
  width: 4.5ch;
}

.no-hint .mat-form-field-wrapper {
  padding-bottom: 0;
}

.mat-slider {
  padding-right: 0 !important;
  padding-left: 0 !important;
  .mat-slider-wrapper {
    left: 0 !important;
    right: 0 !important;
  }
}

.mat-expansion-panel:not(.mat-expanded) {
  background-color: transparent !important;
}

.mat-standard-chip {
  gap: 0.25rem;
}

.empty {
  padding: 2rem;
  h3,
  p {
    color: hsla(0, 0%, 0%, 0.3);
    text-align: center;
    margin: 0;
  }
  h3 {
    color: hsla(0, 0%, 0%, 0.6);
  }
}
