<nav mat-tab-nav-bar>
  <a
    mat-tab-link
    routerLink="./users"
    [active]="currentRoute === '/management/admin/users'"
    >Users</a
  >
  <a
    mat-tab-link
    routerLink="./groups"
    [active]="currentRoute === '/management/admin/groups'"
    >Groups</a
  >
  <!-- TODO: Remove component -->
  <!-- <a
    mat-tab-link
    routerLink="./orgs"
    [active]="currentRoute === '/management/admin/orgs'"
    >Organisations</a
  > -->
</nav>
<router-outlet></router-outlet>
<!-- [active]="activeLink == link" -->
