<mat-selection-list role="list" [multiple]="false">
  <mat-list-option role="listitem">
    <div matLine>Dzelzceļnieks</div>
    <span matLine class="text-secondary">26 lamps, default profile</span>
  </mat-list-option>
  <mat-list-option role="listitem">
    <div matLine>Cietoksnis</div>
    <span matLine class="text-secondary">139 lamps, 2 groups, 3 profiles</span>
  </mat-list-option>
  <mat-list-option role="listitem">
    <div matLine>Unassigned</div>
    <span matLine class="text-secondary">2 lamps</span>
  </mat-list-option>
</mat-selection-list>
