<!-- TODO: Status chip is clickable and shows status options -->

<mat-form-field>
  <mat-label>Name</mat-label>
  <input
    #input
    [(ngModel)]="data.name"
    cdkFocusInitial
    matInput
    placeholder="New {{ data.entity }}"
  />
</mat-form-field>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Close</button>
  <!-- 'Update' when editing -->
  <button mat-flat-button [mat-dialog-close]="data.name" color="accent">
    {{ data.edit ? "Update" : "Create" }}
  </button>
</mat-dialog-actions>
